In [1]:
import pandas as pd
import numpy as np

In [2]:
epi = pd.read_csv('../data/EPI_data/ObservationData_rqridaf.csv')

***Data Import***

In [3]:
def epi_to_country_data(country_name):
    country = epi[epi['location'] == country_name]

    indicators = list(country['indicator'].value_counts().to_dict().keys())

    min_date = country['Date'].min()
    max_date = country['Date'].max()

    dates = pd.Series(list(range(min_date, max_date + 1)))
    transpose_country = pd.DataFrame()
    transpose_country['date'] = dates
    transpose_country['country_name'] = country_name

    for indicator in indicators:
        indicator_df = country[country['indicator'] == indicator]

        date_values = {key: None for key in list(range(min_date, max_date + 1))}
        for row in indicator_df.iterrows():
            date_values[row[1]['Date']] = row[1]['Value']

        transpose_country[indicator] = date_values.values()
        
    return transpose_country

In [4]:
best_indicators = [key for key, value in epi['indicator'].value_counts().to_dict().items() if value > 500]

In [5]:
epi = epi[epi['indicator'].isin(best_indicators)]

In [6]:
epi_new = pd.DataFrame()

for country_name in  set(epi['location'].values):
    country_df = epi_to_country_data(country_name)
    epi_new = pd.concat([epi_new, country_df], ignore_index = True)

In [7]:
epi_new.head(50)

,date,country_name,Agriculture,PM2.5 Exposure,Ecosystem Vitality,Environmental Health,Unsafe drinking water,Unsafe sanitation,Environmental Performance Index,Air Quality,...,Pesticide Regulation,Change of Trend in Carbon Intensity,Change in Forest Cover,Agricultural Subsidies,Climate,Fisheries,Coastal Shelf Fishing Pressure,Fish Stock Status,Marine Protected Areas,Critical Habitat Protection
0,2002,Azerbaijan,56,90.94,51.63,50.98,22.43,21.1,51.37,80.05,...,12,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
1,2003,Azerbaijan,56,97.03,51.77,54.39,23.16,22.81,52.82,85.18,...,12,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
2,2004,Azerbaijan,62,99.08,52.87,56.74,23.91,24.66,54.42,87.4,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
3,2005,Azerbaijan,62,98.83,52.87,58.2,24.68,26.67,55,87.78,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
4,2006,Azerbaijan,62,94.99,52.87,58.73,25.47,28.87,55.21,86.48,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
5,2007,Azerbaijan,62,93.35,52.87,59.05,26.28,31.3,55.34,85.44,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
6,2008,Azerbaijan,62,93.85,52.87,59.95,27.11,34.02,55.7,86.54,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
7,2009,Azerbaijan,62,92.68,52.87,59.61,27.15,34.04,55.57,86.01,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
8,2010,Azerbaijan,62,93.35,52.87,59.87,27.19,34.06,55.67,87.42,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
9,2011,Azerbaijan,62,91.64,52.87,59.14,27.24,34.08,55.38,85.77,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
10,2012,Azerbaijan,62,93.52,52.87,59.37,27.24,34.08,55.47,86.87,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
11,2013,Azerbaijan,None,None,None,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
12,2014,Azerbaijan,62,93.52,52.87,59.37,27.24,34.08,55.47,86.87,...,24,78.28,63.12,100,None,NaN,NaN,NaN,NaN,NaN
13,2015,Azerbaijan,None,None,None,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
14,2016,Azerbaijan,98.18,92.09,84.6,82.96,66.72,82.38,83.78,80.99,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
15,2017,Azerbaijan,None,None,None,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
16,2018,Azerbaijan,39.76,53.14,71.52,48.55,51.28,45.77,62.33,47.44,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
17,2019,Azerbaijan,None,None,None,None,None,None,None,None,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
18,2020,Azerbaijan,64.3,12.7,55.7,32.7,46.4,44.3,46.5,24.9,...,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN
19,2012,Guadeloupe,NaN,100,NaN,NaN,87.8,68.43,NaN,NaN,...,NaN,NaN,55.41,NaN,NaN,42.77,64.81,20.73,NaN,NaN
20,2002,Timor-Leste,50,100,20.12,37.59,9.24,7.02,27.11,69.33,...,0,NaN,31.35,100,NaN,60.17,98.92,21.43,0,NaN
21,2003,Timor-Leste,50,100,20.96,38.28,9.96,7.05,27.89,69.33,...,0,NaN,31.35,100,NaN,66.46,98.92,34.01,0,NaN
22,2004,Timor-Leste,50,100,20.18,38.96,10.71,7.09,27.69,69.33,...,0,NaN,31.35,100,NaN,60.65,98.92,22.37,0,NaN
23,2005,Timor-Leste,50,100,20.25,39.65,11.5,7.12,28.01,69.33,...,0,NaN,31.35,100,NaN,61.17,98.92,23.42,0,NaN
24,2006,Timor-Leste,50,100,20.25,40.36,12.31,7.17,28.29,69.33,...,0,NaN,31.35,100,NaN,61.17,98.92,23.42,0,NaN
25,2007,Timor-Leste,50,100,21.13,41.08,13.16,7.22,29.11,69.33,...,0,NaN,31.35,100,NaN,60.73,98.92,22.54,0,NaN
26,2008,Timor-Leste,50,100,35.67,41.83,14.05,7.27,38.13,69.33,...,0,NaN,31.35,100,NaN,59.32,98.92,19.72,79.51,NaN
27,2009,Timor-Leste,50,100,36.03,42.61,14.98,7.33,38.67,69.33,...,0,NaN,31.35,100,NaN,62.08,98.92,25.23,79.51,NaN
28,2010,Timor-Leste,50,100,35.56,43.43,15.95,7.39,38.71,69.33,...,0,NaN,31.35,100,NaN,58.55,98.92,18.18,79.51,NaN
29,2011,Timor-Leste,50,100,35.74,44.26,16.98,7.46,39.15,69.33,...,0,NaN,31.35,100,NaN,59.87,98.92,20.81,79.51,NaN
30,2012,Timor-Leste,50,100,35.74,44.92,16.98,7.46,39.41,69.33,...,0,NaN,31.35,100,NaN,59.87,98.92,20.81,79.51,NaN
31,2013,Timor-Leste,None,None,None,None,None,None,None,None,...,None,NaN,None,None,NaN,None,None,None,None,NaN
32,2014,Timor-Leste,50,100,35.74,44.92,16.98,7.46,39.41,69.33,...,0,NaN,31.35,100,NaN,59.87,98.92,20.81,79.51,NaN
33,2015,Timor-Leste,None,None,None,None,None,None,None,None,...,None,NaN,None,None,NaN,None,None,None,None,NaN
34,2016,Timor-Leste,100,100,47.54,64.04,46.48,56.23,55.79,78.79,...,None,NaN,None,None,NaN,45.22,None,45.22,85.23,NaN
35,2017,Timor-Leste,None,None,None,None,None,None,None,None,...,None,NaN,None,None,NaN,None,None,None,None,NaN
36,2018,Timor-Leste,29.38,100,48.56,51.02,24.73,21,49.54,64.77,...,None,NaN,None,None,NaN,63.43,None,89.87,81.38,NaN
37,2019,Timor-Leste,None,None,None,None,None,None,None,None,...,None,NaN,None,None,NaN,None,None,None,None,NaN
38,2020,Timor-Leste,34.9,49,39.5,28.9,26.1,25.6,35.3,33.6,...,None,NaN,None,None,NaN,46.8,None,18.6,0,NaN
39,2002,Nigeria,88,100,42.35,30.95,8.77,5.74,37.79,73.59,...,76,90,29.16,100,70.55,27.37,24.26,30.48,45.96,50
40,2003,Nigeria,88,100,42.42,30.89,9.11,5.63,37.81,72.2,...,76,90,29.16,100,70.55,28.06,23.69,32.43,45.96,50
41,2004,Nigeria,92,100,42.44,31.3,9.44,5.51,37.99,72.14,...,84,90,29.16,100,70.55,26.35,24.51,28.19,45.96,50
42,2005,Nigeria,65.54,100,40.88,31.1,9.77,5.4,36.97,70.27,...,84,90,29.16,47.07,70.55,23.9,23.56,24.24,45.96,50
43,2006,Nigeria,63.27,100,40.84,31.29,10.09,5.28,37.02,69.6,...,84,90,29.16,42.54,70.55,24.67,23.14,26.19,45.96,50
44,2007,Nigeria,92,100,42.29,31.78,10.41,5.17,38.09,69.9,...,84,90,29.16,100,70.55,24.81,23.14,26.47,45.96,50
45,2008,Nigeria,92,100,42.38,32.47,10.72,5.06,38.41,70.91,...,84,90,29.16,100,70.55,25.68,23.14,28.22,45.96,50
46,2009,Nigeria,51.21,100,40.43,32.68,11.02,4.94,37.33,70.6,...,84,90,29.16,18.42,70.55,26.57,23.14,30,45.96,50
47,2010,Nigeria,92,100,42.45,32.72,11.32,4.83,38.56,69.94,...,84,90,29.16,100,70.55,26.4,23.14,29.65,45.96,50
48,2011,Nigeria,92,100,42.63,33.31,11.61,4.72,38.91,71.02,...,84,90,29.16,100,70.55,28.24,23.14,33.33,45.96,50
49,2012,Nigeria,92,100,42.63,34.05,11.61,4.72,39.2,72.7,...,84,90,29.16,100,70.55,28.24,23.14,33.33,45.96,50

In [8]:
high_data = [key for key, value in epi_new['country_name'].value_counts().to_dict().items() if value >5]

In [9]:
high_data

['Australia',
 'Ecuador',
 'Cabo Verde',
 'Philippines',
 'Guinea-Bissau',
 'Kiribati',
 'Mexico',
 'Moldova',
 'Antigua and Barbuda',
 'Zambia',
 'Kenya',
 'Denmark',
 'Bhutan',
 'Latvia',
 'Trinidad and Tobago',
 'Cyprus',
 'Lebanon',
 'Cameroon',
 'Botswana',
 'Papua New Guinea',
 'Paraguay',
 'Japan',
 'Ireland',
 'Niger',
 'Jamaica',
 'Belarus',
 'Belize',
 'Guinea',
 'Kuwait',
 'Brunei Darussalam',
 'United Kingdom',
 'Israel',
 'Myanmar',
 'Burundi',
 'South Korea',
 'Gabon',
 'Guatemala',
 'Mali',
 'Bangladesh',
 'Qatar',
 'Chile',
 'Bulgaria',
 'India',
 'Nicaragua',
 'Cuba',
 'Sri Lanka',
 'Belgium',
 'Iran',
 'Luxembourg',
 'Norway',
 'Central African Republic',
 'Eritrea',
 'Spain',
 'Rwanda',
 'Morocco',
 'Montenegro',
 'Costa Rica',
 'Oman',
 'Switzerland',
 'Equatorial Guinea',
 'Vanuatu',
 'Tunisia',
 'Solomon Islands',
 'New Zealand',
 'Croatia',
 'Mongolia',
 'Algeria',
 'Ukraine',
 'Finland',
 'Thailand',
 'Bahrain',
 'Austria',
 'Armenia',
 'Iceland',
 'Turkey',
 'Canada',
 'Venezuela',
 'Mauritania',
 'Cambodia',
 'Uzbekistan',
 'Estonia',
 'Singapore',
 'Romania',
 'Slovakia',
 'Tajikistan',
 'Sweden',
 'Italy',
 "Cote d'Ivoire",
 'Viet Nam',
 'Guyana',
 'Angola',
 'Zimbabwe',
 'Mozambique',
 'Senegal',
 'Poland',
 'Malawi',
 'Kazakhstan',
 'Tanzania',
 'Benin',
 'Iraq',
 'North Macedonia',
 'France',
 'Portugal',
 'Albania',
 'Timor-Leste',
 'El Salvador',
 'Suriname',
 'Taiwan',
 'Georgia',
 'Afghanistan',
 'Honduras',
 'Gambia',
 'Argentina',
 'Dominican Republic',
 'Panama',
 'Eswatini',
 'Greece',
 'Nepal',
 'Laos',
 'Colombia',
 'Ethiopia',
 'Russia',
 'Azerbaijan',
 'Egypt',
 'Peru',
 'Pakistan',
 'Togo',
 'Seychelles',
 'Indonesia',
 'Malta',
 'Bolivia',
 'Saudi Arabia',
 'Fiji',
 'Nigeria',
 'Netherlands',
 'Haiti',
 'United Arab Emirates',
 'Dem. Rep. Congo',
 'Slovenia',
 'Uganda',
 'Bahamas',
 'Malaysia',
 'Czech Republic',
 'Tonga',
 'Uruguay',
 'Dominica',
 'Chad',
 'Kyrgyzstan',
 'Mauritius',
 'Grenada',
 'Namibia',
 'Burkina Faso',
 'Comoros',
 'Liberia',
 'Hungary',
 'Republic of Congo',
 'Sierra Leone',
 'Barbados',
 'South Africa',
 'Turkmenistan',
 'Serbia',
 'Lithuania',
 'Lesotho',
 'China',
 'Jordan',
 'Madagascar',
 'Djibouti',
 'United States of America',
 'Germany',
 'Sudan',
 'Brazil',
 'Ghana',
 'Bosnia and Herzegovina',
 'Libya',
 'Somalia',
 'Yemen',
 'Syria',
 'Palau',
 'Maldives',
 'Sao Tome and Principe',
 'Saint Vincent and the Grenadines',
 'Micronesia',
 'Samoa',
 'Marshall Islands',
 'Saint Lucia']

In [10]:
epi_new = epi_new[epi_new['country_name'].isin(high_data)]

In [11]:
epi_new

,date,country_name,Agriculture,PM2.5 Exposure,Ecosystem Vitality,Environmental Health,Unsafe drinking water,Unsafe sanitation,Environmental Performance Index,Air Quality,...,Pesticide Regulation,Change of Trend in Carbon Intensity,Change in Forest Cover,Agricultural Subsidies,Climate,Fisheries,Coastal Shelf Fishing Pressure,Fish Stock Status,Marine Protected Areas,Critical Habitat Protection
0,2002,Azerbaijan,56,90.94,51.63,50.98,22.43,21.1,51.37,80.05,...,12,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
1,2003,Azerbaijan,56,97.03,51.77,54.39,23.16,22.81,52.82,85.18,...,12,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
2,2004,Azerbaijan,62,99.08,52.87,56.74,23.91,24.66,54.42,87.4,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
3,2005,Azerbaijan,62,98.83,52.87,58.2,24.68,26.67,55,87.78,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
4,2006,Azerbaijan,62,94.99,52.87,58.73,25.47,28.87,55.21,86.48,...,24,78.28,63.12,100,80.88,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3461,2016,Grenada,59.79,100,36.78,89.79,88.45,95.15,63.28,91.88,...,None,None,NaN,None,None,48.06,None,48.06,40.79,None
3462,2017,Grenada,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,None,None,None
3463,2018,Grenada,0.76,100,38.34,69.82,47.74,48.77,50.93,82.88,...,None,None,NaN,None,None,44.76,None,58.27,61.02,None
3464,2019,Grenada,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,None,None,None
3465,2020,Grenada,28.9,31.3,40.9,46.3,44.2,51.2,43.1,42.9,...,None,None,NaN,None,None,15.8,None,None,1,None

In [12]:
epi_new['country_name'].value_counts()

Bulgaria                            19
Austria                             19
Iceland                             19
Turkey                              19
Ukraine                             19
                                    ..
Micronesia                           9
Saint Lucia                          9
Marshall Islands                     9
Sao Tome and Principe                9
Saint Vincent and the Grenadines     9
Name: country_name, Length: 185, dtype: int64

In [13]:
def impute_values(country_name):
    country = epi_new[epi_new['country_name'] == country_name].copy()
    for col in country.columns:
        country[col] = country[col].map(lambda x: np.nan if x == 'None' else x)
        country[col].interpolate(method='linear',order=1,inplace=True, axis=0)
    return country

In [14]:
epi_new_new = pd.DataFrame()

for country_name in  set(epi_new['country_name'].values):
    country_df = impute_values(country_name)
    epi_new_new = pd.concat([epi_new_new, country_df], ignore_index = True)

In [15]:
epi_new_new.head()

,date,country_name,Agriculture,PM2.5 Exposure,Ecosystem Vitality,Environmental Health,Unsafe drinking water,Unsafe sanitation,Environmental Performance Index,Air Quality,...,Pesticide Regulation,Change of Trend in Carbon Intensity,Change in Forest Cover,Agricultural Subsidies,Climate,Fisheries,Coastal Shelf Fishing Pressure,Fish Stock Status,Marine Protected Areas,Critical Habitat Protection
0,2002,Azerbaijan,56.0,90.94,51.63,50.98,22.43,21.10,51.37,80.05,...,12.0,78.28,63.12,100.0,80.88,NaN,NaN,NaN,NaN,NaN
1,2003,Azerbaijan,56.0,97.03,51.77,54.39,23.16,22.81,52.82,85.18,...,12.0,78.28,63.12,100.0,80.88,NaN,NaN,NaN,NaN,NaN
2,2004,Azerbaijan,62.0,99.08,52.87,56.74,23.91,24.66,54.42,87.40,...,24.0,78.28,63.12,100.0,80.88,NaN,NaN,NaN,NaN,NaN
3,2005,Azerbaijan,62.0,98.83,52.87,58.20,24.68,26.67,55.00,87.78,...,24.0,78.28,63.12,100.0,80.88,NaN,NaN,NaN,NaN,NaN
4,2006,Azerbaijan,62.0,94.99,52.87,58.73,25.47,28.87,55.21,86.48,...,24.0,78.28,63.12,100.0,80.88,NaN,NaN,NaN,NaN,NaN

In [16]:
epi_new_new.shape

(3425, 35)

In [17]:
nulls = epi_new_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Critical Habitat Protection                        1930
Climate                                             959
Change of Trend in Carbon Intensity                 959
Trend in CO2 Emissions per KWH                      957
Marine Protected Areas                              868
Trend in Carbon Intensity                           853
Coastal Shelf Fishing Pressure                      845
Fish Stock Status                                   842
Fisheries                                           842
Change in Forest Cover                              826
Climate & Energy                                    801
Forests                                             668
Agricultural Subsidies                              466
Ecosystem Vitality                                   38
Environmental Performance Index                      38
Water Resources                                      26
Wastewater Treatment                                 26
Environmental Health                                 12
Health Impacts                                        9
Child Mortality                                       9
Access to Electricity                                 9
Agriculture                                           8
Terrestrial biome protection (global weights)         8
Biodiversity & Habitat                                8
Terrestrial biome protection (national weights)       8
Air Quality                                           4
PM2.5 Exceedance                                      4
PM2.5 Exposure                                        4
dtype: int64

In [18]:
drop_list = ['Climate','Forests', 'Critical Habitat Protection', 'Change in Forest Cover','Change of Trend in Carbon Intensity', 'Coastal Shelf Fishing Pressure',
'Trend in CO2 Emissions per KWH','Trend in Carbon Intensity','Climate & Energy']

In [19]:
len(drop_list)

9

more to look at: marine, Fisheries, fish stock, agricultural subsidies.

In [20]:
epi_new_new.drop(columns=drop_list,inplace=True)

In [21]:
nulls = epi_new_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas                             868
Fisheries                                          842
Fish Stock Status                                  842
Agricultural Subsidies                             466
Ecosystem Vitality                                  38
Environmental Performance Index                     38
Water Resources                                     26
Wastewater Treatment                                26
Environmental Health                                12
Child Mortality                                      9
Health Impacts                                       9
Access to Electricity                                9
Terrestrial biome protection (global weights)        8
Agriculture                                          8
Terrestrial biome protection (national weights)      8
Biodiversity & Habitat                               8
Air Quality                                          4
PM2.5 Exceedance                                     4
PM2.5 Exposure                                       4
dtype: int64

In [22]:
epi = epi_new_new

In [23]:
nulls = epi.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas                             868
Fisheries                                          842
Fish Stock Status                                  842
Agricultural Subsidies                             466
Ecosystem Vitality                                  38
Environmental Performance Index                     38
Water Resources                                     26
Wastewater Treatment                                26
Environmental Health                                12
Child Mortality                                      9
Health Impacts                                       9
Access to Electricity                                9
Terrestrial biome protection (global weights)        8
Agriculture                                          8
Terrestrial biome protection (national weights)      8
Biodiversity & Habitat                               8
Air Quality                                          4
PM2.5 Exceedance                                     4
PM2.5 Exposure                                       4
dtype: int64

checking the nulls for high null count indicators: Marine Protected Areas, Fisheries, Fish Stock Status and Agricultural Subsidies

In [24]:
#make new DF with just marine nulls
marine_nulls = epi[epi['Marine Protected Areas'].isnull() == True]

In [25]:
marine_dic = marine_nulls['country_name'].value_counts().to_dict()

In [26]:
#get list of countries will nulls
marine_countries = list(marine_dic.keys())

In [27]:
#make new DF with just fishery Nulls
fish_nulls = epi[epi['Fisheries'].isnull() == True]

In [28]:
fish_dic = fish_nulls['country_name'].value_counts().to_dict()

In [29]:
#get list of countries with fisheries nulls
fish_countries = list(fish_dic.keys())

Compare list, decide what to do with non-landlocked countries.

In [30]:
[x for x in marine_countries if x not in fish_countries]

['Brunei Darussalam', 'Guinea-Bissau', 'Maldives']

In [31]:
[x for x in fish_countries if x not in marine_countries]

['Saint Vincent and the Grenadines']

drop: maldives, saint vincent and the grenadines, saint lucia, Marshall Islands,micronesia, Sao Tome and Principe, samoa

pad: guinea bissau, Brunei Darussalam

In [32]:
#update list
fish_countries.remove('Saint Vincent and the Grenadines')
marine_countries.remove('Maldives')
marine_countries.remove('Guinea-Bissau')
marine_countries.remove('Brunei Darussalam')

In [34]:
#new DF for fishing stock nulls
fish_stock_nulls = epi[epi['Fish Stock Status'].isnull() == True]

In [35]:
fish_stock_dic = fish_stock_nulls['country_name'].value_counts().to_dict()

In [36]:
#get list of fishing stock null countries 
fish_stock_countries = list(fish_stock_dic.keys())

In [37]:
#we are not using Saint Vincent and the Grenadines
fish_stock_countries.remove('Saint Vincent and the Grenadines')

In [38]:
#look for differences in the list
fish_stock_countries == fish_countries

True

In [55]:
#make sure not to leave out any countries from the list
sorted(marine_countries) == sorted(fish_countries)

True

In [46]:
land_locked = fish_countries

In [57]:
land_locked[:3] #fill in with zeros for "marine protected status, fisheries, and fish stock"

['Switzerland', 'Bosnia and Herzegovina', 'Austria']

not ocean related high nulls

In [63]:
ag_nulls = epi[epi['Agricultural Subsidies'].isnull() == True]

In [65]:
ag_dic = ag_nulls['country_name'].value_counts().to_dict()

In [66]:
ag_countries = list(ag_dic.keys())

In [68]:
ag_countries.remove('Marshall Islands')
ag_countries.remove('Saint Lucia')

In [67]:
nulls = epi.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas                             868
Fisheries                                          842
Fish Stock Status                                  842
Agricultural Subsidies                             466
Ecosystem Vitality                                  38
Environmental Performance Index                     38
Water Resources                                     26
Wastewater Treatment                                26
Environmental Health                                12
Child Mortality                                      9
Health Impacts                                       9
Access to Electricity                                9
Terrestrial biome protection (global weights)        8
Agriculture                                          8
Terrestrial biome protection (national weights)      8
Biodiversity & Habitat                               8
Air Quality                                          4
PM2.5 Exceedance                                     4
PM2.5 Exposure                                       4
dtype: int64

In [69]:
eco_vitality = epi[epi['Ecosystem Vitality'].isnull() == True]

In [70]:
eco_vitality = epi[epi['Ecosystem Vitality'].isnull() == True]
eco_vitality['country_name'].value_counts()

Marshall Islands                    8
Micronesia                          6
Saint Vincent and the Grenadines    6
Saint Lucia                         6
Samoa                               4
Sao Tome and Principe               4
Maldives                            4
Name: country_name, dtype: int64

* pad: 

* drop: micronesia, Sao Tome and Principe, samoa,

In [94]:
drop_countries = ['Maldives', 'Saint Vincent and the Grenadines','Saint Lucia', 'Marshall Islands','Micronesia', 'Sao Tome and Principe', 'Samoa']

In [95]:
epi_2 = epi[~epi['country_name'].isin(drop_countries)]

In [96]:
nulls = epi_2.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas    864
Fisheries                 836
Fish Stock Status         836
Agricultural Subsidies    448
dtype: int64

In [93]:
def error_country_list(indicator):
    df = epi[epi[indicator].isnull() == True]
    return df['country_name'].value_counts()

In [76]:
error_country_list('Environmental Performance Index')

Marshall Islands                    8
Micronesia                          6
Saint Vincent and the Grenadines    6
Saint Lucia                         6
Samoa                               4
Sao Tome and Principe               4
Maldives                            4
Name: country_name, dtype: int64

In [77]:
error_country_list('Water Resources')

Micronesia                          6
Saint Vincent and the Grenadines    6
Saint Lucia                         6
Sao Tome and Principe               4
Samoa                               4
Name: country_name, dtype: int64

In [78]:
error_country_list('Wastewater Treatment')

Micronesia                          6
Saint Vincent and the Grenadines    6
Saint Lucia                         6
Sao Tome and Principe               4
Samoa                               4
Name: country_name, dtype: int64

In [79]:
error_country_list('Environmental Health')

Marshall Islands    8
Maldives            4
Name: country_name, dtype: int64

In [82]:
error_country_list('Child Mortality')

Marshall Islands    9
Name: country_name, dtype: int64

In [83]:
error_country_list('Health Impacts')

Marshall Islands    9
Name: country_name, dtype: int64

In [84]:
error_country_list('Access to Electricity')

Micronesia    9
Name: country_name, dtype: int64

In [85]:
error_country_list('Terrestrial biome protection (global weights)')

Sao Tome and Principe    4
Maldives                 4
Name: country_name, dtype: int64

In [73]:
epi[epi['country_name'] == 'Micronesia'].head(50)

,date,country_name,Agriculture,PM2.5 Exposure,Ecosystem Vitality,Environmental Health,Unsafe drinking water,Unsafe sanitation,Environmental Performance Index,Air Quality,...,PM2.5 Exceedance,Household Air Quality,Access to Electricity,Health Impacts,Child Mortality,Pesticide Regulation,Agricultural Subsidies,Fisheries,Fish Stock Status,Marine Protected Areas
1211,2012,Micronesia,56.000,100.0,NaN,57.940000,40.690000,14.340000,NaN,86.330000,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,57.92,15.84,0.000
1212,2013,Micronesia,50.505,100.0,NaN,58.263333,41.346667,19.973333,NaN,83.121667,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,56.60,13.20,8.625
1213,2014,Micronesia,45.010,100.0,NaN,58.586667,42.003333,25.606667,NaN,79.913333,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,55.28,10.56,17.250
1214,2015,Micronesia,39.515,100.0,NaN,58.910000,42.660000,31.240000,NaN,76.705000,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,53.96,7.92,25.875
1215,2016,Micronesia,34.020,100.0,NaN,59.233333,43.316667,36.873333,NaN,73.496667,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,52.64,5.28,34.500
1216,2017,Micronesia,28.525,100.0,NaN,59.556667,43.973333,42.506667,NaN,70.288333,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,51.32,2.64,43.125
1217,2018,Micronesia,23.030,100.0,43.070,59.880000,44.630000,48.140000,49.8,67.080000,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,50.00,0.00,51.750
1218,2019,Micronesia,21.215,65.5,38.785,45.340000,38.765000,43.770000,41.4,48.040000,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,41.35,0.00,25.925
1219,2020,Micronesia,19.400,31.0,34.500,30.800000,32.900000,39.400000,33.0,29.000000,...,100.0,59.0,NaN,59.97,59.97,12.0,100.0,32.70,0.00,0.100

In [49]:
stop error

SyntaxError: invalid syntax (<ipython-input-49-b6379532b430>, line 1)

In [ ]:
attributes = pd.read_csv('../../project_5/epi2020variableattributes20200604.csv')

checking the nulls for high null count indicators: Marine Protected Areas, Fisheries, Fish Stock Status and Agricultural Subsidies

In [24]:
#make new DF with just marine nulls
marine_nulls = epi[epi['Marine Protected Areas'].isnull() == True]

In [25]:
marine_dic = marine_nulls['country_name'].value_counts().to_dict()

In [26]:
#get list of countries will nulls
marine_countries = list(marine_dic.keys())

In [27]:
#make new DF with just fishery Nulls
fish_nulls = epi[epi['Fisheries'].isnull() == True]

In [28]:
fish_dic = fish_nulls['country_name'].value_counts().to_dict()

In [29]:
#get list of countries with fisheries nulls
fish_countries = list(fish_dic.keys())

Compare list, decide what to do with non-landlocked countries.

In [30]:
[x for x in marine_countries if x not in fish_countries]

['Brunei Darussalam', 'Guinea-Bissau', 'Maldives']

In [31]:
[x for x in fish_countries if x not in marine_countries]

['Saint Vincent and the Grenadines']

drop: maldives, saint vincent and the grenadines, saint lucia, Marshall Islands.
pad: guinea bissau, Brunei Darussalam

In [32]:
#update list
fish_countries.remove('Saint Vincent and the Grenadines')
marine_countries.remove('Maldives')
marine_countries.remove('Guinea-Bissau')
marine_countries.remove('Brunei Darussalam')

In [34]:
#new DF for fishing stock nulls
fish_stock_nulls = epi[epi['Fish Stock Status'].isnull() == True]

In [35]:
fish_stock_dic = fish_stock_nulls['country_name'].value_counts().to_dict()

In [36]:
#get list of fishing stock null countries 
fish_stock_countries = list(fish_stock_dic.keys())

In [37]:
#we are not using Saint Vincent and the Grenadines
fish_stock_countries.remove('Saint Vincent and the Grenadines')

In [38]:
#look for differences in the list
fish_stock_countries == fish_countries

True

In [55]:
#make sure not to leave out any countries from the list
sorted(marine_countries) == sorted(fish_countries)

True

In [46]:
land_locked = fish_countries

In [57]:
land_locked[:3] #fill in with zeros for "marine protected status, fisheries, and fish stock"

['Switzerland', 'Bosnia and Herzegovina', 'Austria']

In [ ]:
checking the nulls for high null count indicators: Marine Protected Areas, Fisheries, Fish Stock Status and Agricultural Subsidies

#make new DF with just marine nulls
marine_nulls = epi[epi['Marine Protected Areas'].isnull() == True]

marine_dic = marine_nulls['country_name'].value_counts().to_dict()

#get list of countries will nulls
marine_countries = list(marine_dic.keys())

#make new DF with just fishery Nulls
fish_nulls = epi[epi['Fisheries'].isnull() == True]

fish_dic = fish_nulls['country_name'].value_counts().to_dict()

#get list of countries with fisheries nulls
fish_countries = list(fish_dic.keys())

Compare list, decide what to do with non-landlocked countries.

[x for x in marine_countries if x not in fish_countries]

[x for x in fish_countries if x not in marine_countries]

drop: maldives, saint vincent and the grenadines, saint lucia, Marshall Islands.
pad: guinea bissau, Brunei Darussalam

#update list
fish_countries.remove('Saint Vincent and the Grenadines')
marine_countries.remove('Maldives')
marine_countries.remove('Guinea-Bissau')
marine_countries.remove('Brunei Darussalam')

#new DF for fishing stock nulls
fish_stock_nulls = epi[epi['Fish Stock Status'].isnull() == True]

fish_stock_dic = fish_stock_nulls['country_name'].value_counts().to_dict()

#get list of fishing stock null countries 
fish_stock_countries = list(fish_stock_dic.keys())

#we are not using Saint Vincent and the Grenadines
fish_stock_countries.remove('Saint Vincent and the Grenadines')

#look for differences in the list
fish_stock_countries == fish_countries

#make sure not to leave out any countries from the list
sorted(marine_countries) == sorted(fish_countries)

land_locked = fish_countries

land_locked[:3] #fill in with zeros for "marine protected status, fisheries, and fish stock"

In [ ]:
attributes.head(50)

In [ ]:
nulls = epi_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

In [ ]:
s = pd.Series([1,2,3,np.nan,np.nan,np.nan])
s

In [ ]:
s.interpolate(method='spline', order=1)