In [1]:
import pandas as pd
import numpy as np

In [2]:
epi = pd.read_csv('../data/EPI_data/ObservationData_rqridaf.csv')

***Data Import***

In [3]:
def epi_to_country_data(country_name):
    country = epi[epi['location'] == country_name]

    indicators = list(country['indicator'].value_counts().to_dict().keys())

    min_date = country['Date'].min()
    max_date = country['Date'].max()

    dates = pd.Series(list(range(min_date, max_date + 1)))
    transpose_country = pd.DataFrame()
    transpose_country['date'] = dates
    transpose_country['country_name'] = country_name

    for indicator in indicators:
        indicator_df = country[country['indicator'] == indicator]

        date_values = {key: None for key in list(range(min_date, max_date + 1))}
        for row in indicator_df.iterrows():
            date_values[row[1]['Date']] = row[1]['Value']

        transpose_country[indicator] = date_values.values()
        
    return transpose_country

In [4]:
best_indicators = [key for key, value in epi['indicator'].value_counts().to_dict().items() if value > 500]

In [5]:
epi = epi[epi['indicator'].isin(best_indicators)]

In [6]:
epi_new = pd.DataFrame()

for country_name in  set(epi['location'].values):
    country_df = epi_to_country_data(country_name)
    epi_new = pd.concat([epi_new, country_df], ignore_index = True)

In [7]:
epi_new.head(50)

,date,country_name,Wastewater Treatment,Terrestrial biome protection (global weights),Fish Stock Status,Water Resources,Unsafe sanitation,Sanitation & Drinking Water,Unsafe drinking water,Fisheries,...,Household Air Quality,Health Impacts,Coastal Shelf Fishing Pressure,Pesticide Regulation,Agricultural Subsidies,Change in Forest Cover,Child Mortality,Change of Trend in Carbon Intensity,Climate,Critical Habitat Protection
0,2002,Nicaragua,8.4,91.91,44.44,8.4,11.49,19.93,28.37,39.73,...,38,63.53,35.02,16,100,0,63.53,37.24,46.82,NaN
1,2003,Nicaragua,8.4,91.91,38.36,8.4,11.7,20.4,29.1,36.89,...,39,65.61,35.43,16,100,0,65.61,37.24,46.82,NaN
2,2004,Nicaragua,8.4,91.91,25.93,8.4,11.91,20.88,29.85,31.1,...,40,67.41,36.28,16,100,0,67.41,37.24,46.82,NaN
3,2005,Nicaragua,8.4,91.91,31.25,8.4,12.12,21.37,30.62,32.25,...,41,68.84,33.25,24,100,0,68.84,37.24,46.82,NaN
4,2006,Nicaragua,8.4,91.91,23.08,8.4,12.33,21.87,31.41,28.87,...,42,69.92,34.66,24,100,0,69.92,37.24,46.82,NaN
5,2007,Nicaragua,8.4,91.91,17.48,8.4,12.55,22.39,32.24,26.07,...,43,70.76,34.66,76,100,0,70.76,37.24,46.82,NaN
6,2008,Nicaragua,8.4,91.91,23.08,8.4,12.76,22.93,33.09,28.87,...,44,71.51,34.66,76,100,0,71.51,37.24,46.82,NaN
7,2009,Nicaragua,8.4,91.91,30,8.4,12.8,23,33.21,32.33,...,45,72.24,34.66,76,100,0,72.24,37.24,46.82,NaN
8,2010,Nicaragua,8.4,91.91,21.57,8.4,12.83,23.08,33.33,28.11,...,46,73,34.66,76,100,0,73,37.24,46.82,NaN
9,2011,Nicaragua,8.4,91.91,21.57,8.4,12.86,23.16,33.46,28.11,...,46,73.81,34.66,76,100,0,73.81,37.24,46.82,NaN
10,2012,Nicaragua,8.4,91.91,21.57,8.4,12.86,23.16,33.46,28.11,...,46,74.66,34.66,76,100,0,74.66,37.24,46.82,NaN
11,2013,Nicaragua,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
12,2014,Nicaragua,8.4,91.91,21.57,8.4,12.86,23.16,33.46,28.11,...,46,74.66,34.66,76,100,0,74.66,37.24,None,NaN
13,2015,Nicaragua,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
14,2016,Nicaragua,0,94,36.16,0,69.38,68.55,66.72,36.16,...,68.15,59.49,None,None,None,None,None,None,None,NaN
15,2017,Nicaragua,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
16,2018,Nicaragua,0,95.79,61.41,0,40.51,41.96,43.42,67.97,...,None,None,None,None,None,None,None,None,None,NaN
17,2019,Nicaragua,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
18,2020,Nicaragua,0,93.9,11.7,0,43.9,42.8,42,12.3,...,None,None,None,None,None,None,None,None,None,NaN
19,2002,Portugal,70.33,48.14,15.05,70.33,78.48,77.21,75.94,28.12,...,95,90.24,41.19,84,15.41,7.75,90.24,50.93,80.68,100
20,2003,Portugal,70.33,48.14,13.65,70.33,81.74,79.59,77.43,27.53,...,95,91.57,41.42,84,14.59,7.75,91.57,50.93,80.68,100
21,2004,Portugal,70.33,48.24,15.3,70.33,85.48,82.24,79.01,28.57,...,95,92.96,41.83,92,15.53,7.75,92.96,50.93,80.68,100
22,2005,Portugal,70.33,48.23,14.91,70.33,89.88,85.28,80.67,28.57,...,95,94.36,42.22,92,22.78,7.75,94.36,50.93,80.68,100
23,2006,Portugal,70.33,48.24,16.05,70.33,95.26,88.85,82.44,28.83,...,95,95.7,41.61,92,23.59,7.75,95.7,50.93,80.68,100
24,2007,Portugal,70.33,48.25,18.06,70.33,99.78,92.05,84.32,29.83,...,95,96.93,41.61,92,27.02,7.75,96.93,50.93,80.68,100
25,2008,Portugal,70.33,48.72,15.74,70.33,100,93.17,86.34,28.68,...,95,98,41.61,92,27.41,7.75,98,50.93,80.68,100
26,2009,Portugal,70.33,48.8,18.43,70.33,100,94.26,88.52,30.02,...,95,98.85,41.61,92,29.3,7.75,98.85,50.93,80.68,100
27,2010,Portugal,70.33,48.82,18.86,70.33,100,95.45,90.89,30.23,...,95,99.51,41.61,92,31.61,7.75,99.51,50.93,80.68,100
28,2011,Portugal,70.33,48.82,18.53,70.33,100,96.75,93.5,30.07,...,95,100,41.61,92,36.6,7.75,100,50.93,80.68,100
29,2012,Portugal,70.33,48.82,18.53,70.33,100,96.75,93.5,30.07,...,95,100,41.61,92,36.6,7.75,100,50.93,80.68,100
30,2013,Portugal,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
31,2014,Portugal,70.33,48.82,18.53,70.33,100,96.75,93.5,30.07,...,95,100,41.61,92,36.6,7.75,100,50.93,None,100
32,2015,Portugal,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
33,2016,Portugal,85.4,100,54.03,85.4,99.14,99.79,100,54.03,...,95,96.5,None,None,None,None,None,None,None,None
34,2017,Portugal,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
35,2018,Portugal,93.82,100,22.4,93.82,87.91,93.59,99.27,32.11,...,None,None,None,None,None,None,None,None,None,None
36,2019,Portugal,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
37,2020,Portugal,55,100,1.6,55,80.3,83.4,85.5,33.1,...,None,None,None,None,None,None,None,None,None,None
38,2002,Guyana,0,10.58,16.08,0,31.71,37.08,42.45,22.88,...,86.6,56.87,29.67,72,100,63.12,56.87,0,0.64,NaN
39,2003,Guyana,0,10.58,40,0,32.17,37.87,43.56,34.57,...,87.4,57.72,29.13,72,100,63.12,57.72,0,0.64,NaN
40,2004,Guyana,0,10.58,42.62,0,32.65,38.69,44.73,36.75,...,88.2,58.62,30.87,72,100,63.12,58.62,0,0.64,NaN
41,2005,Guyana,0,10.58,43.09,0,33.14,39.55,45.97,37.04,...,89,59.56,30.99,72,100,63.12,59.56,0,0.64,NaN
42,2006,Guyana,0,10.58,40,0,33.64,40.46,47.27,35.21,...,89.8,60.48,30.41,72,100,63.12,60.48,0,0.64,NaN
43,2007,Guyana,0,26,3.61,0,34.16,41.41,48.66,17.01,...,90.6,61.34,30.41,84,100,63.12,61.34,0,0.64,NaN
44,2008,Guyana,0,26,0.58,0,34.69,42.41,50.13,15.5,...,91.4,62.12,30.41,84,100,63.12,62.12,0,0.64,NaN
45,2009,Guyana,0,26,4.19,0,35.24,43.47,51.7,17.3,...,92.2,62.79,30.41,84,100,63.12,62.79,0,0.64,NaN
46,2010,Guyana,0,26,4.19,0,35.8,44.59,53.38,17.3,...,93,63.35,30.41,84,100,63.12,63.35,0,0.64,NaN
47,2011,Guyana,0,26,1.16,0,36.37,45.78,55.19,15.79,...,93,63.82,30.41,84,100,63.12,63.82,0,0.64,NaN
48,2012,Guyana,0,26,1.16,0,36.37,45.78,55.19,15.79,...,93,64.24,30.41,84,100,63.12,64.24,0,0.64,NaN
49,2013,Guyana,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN

In [8]:
high_data = [key for key, value in epi_new['country_name'].value_counts().to_dict().items() if value >5]

In [9]:
high_data

['Latvia',
 'Dem. Rep. Congo',
 'Mozambique',
 'Costa Rica',
 'Dominican Republic',
 'Jordan',
 'Barbados',
 'Nepal',
 'Kazakhstan',
 'Sudan',
 'Italy',
 'Czech Republic',
 'Seychelles',
 'Senegal',
 'Romania',
 'Moldova',
 'Slovenia',
 'Vanuatu',
 'Armenia',
 'Malawi',
 'France',
 'Chad',
 'Japan',
 'North Macedonia',
 'Luxembourg',
 'Guatemala',
 'United Kingdom',
 'Niger',
 'Comoros',
 'Panama',
 'Taiwan',
 'Brunei Darussalam',
 'Croatia',
 'Austria',
 'Kuwait',
 'Kenya',
 'Sri Lanka',
 'Madagascar',
 'Zambia',
 'Venezuela',
 'Gabon',
 'Bulgaria',
 'Mexico',
 'Germany',
 'Eritrea',
 'Oman',
 'Morocco',
 'United States of America',
 'Bolivia',
 'Sweden',
 'Algeria',
 'Brazil',
 'Guinea',
 'Norway',
 'Sierra Leone',
 'Viet Nam',
 'Honduras',
 'Lesotho',
 'Laos',
 "Cote d'Ivoire",
 'Denmark',
 'Cuba',
 'Rwanda',
 'Ecuador',
 'Netherlands',
 'Mali',
 'Papua New Guinea',
 'Montenegro',
 'Indonesia',
 'Guyana',
 'South Africa',
 'Portugal',
 'Kyrgyzstan',
 'Cyprus',
 'Malaysia',
 'Chile',
 'Myanmar',
 'Liberia',
 'Solomon Islands',
 'Guinea-Bissau',
 'Ireland',
 'Burkina Faso',
 'Cameroon',
 'Peru',
 'Timor-Leste',
 'Iraq',
 'New Zealand',
 'Gambia',
 'Djibouti',
 'Iran',
 'Uruguay',
 'Cambodia',
 'Australia',
 'Fiji',
 'Qatar',
 'Burundi',
 'Central African Republic',
 'Nicaragua',
 'Nigeria',
 'Argentina',
 'Grenada',
 'Colombia',
 'South Korea',
 'Trinidad and Tobago',
 'Angola',
 'Turkey',
 'Lebanon',
 'Bahamas',
 'Mongolia',
 'Greece',
 'Turkmenistan',
 'Philippines',
 'Botswana',
 'Bangladesh',
 'Lithuania',
 'Russia',
 'Jamaica',
 'Afghanistan',
 'Togo',
 'Bahrain',
 'Malta',
 'Spain',
 'Uzbekistan',
 'Saudi Arabia',
 'Republic of Congo',
 'Namibia',
 'Uganda',
 'Iceland',
 'Kiribati',
 'Benin',
 'Azerbaijan',
 'Equatorial Guinea',
 'Albania',
 'Slovakia',
 'El Salvador',
 'Haiti',
 'Ethiopia',
 'Tanzania',
 'Belize',
 'Mauritius',
 'Belgium',
 'Tonga',
 'Hungary',
 'Finland',
 'Belarus',
 'Israel',
 'Suriname',
 'Serbia',
 'Antigua and Barbuda',
 'Mauritania',
 'Switzerland',
 'Bosnia and Herzegovina',
 'Dominica',
 'Paraguay',
 'Thailand',
 'Estonia',
 'China',
 'Eswatini',
 'Ukraine',
 'Bhutan',
 'India',
 'Zimbabwe',
 'Pakistan',
 'Georgia',
 'Poland',
 'Cabo Verde',
 'Egypt',
 'Canada',
 'Tajikistan',
 'Singapore',
 'Tunisia',
 'United Arab Emirates',
 'Ghana',
 'Libya',
 'Yemen',
 'Somalia',
 'Syria',
 'Palau',
 'Saint Vincent and the Grenadines',
 'Maldives',
 'Marshall Islands',
 'Saint Lucia',
 'Sao Tome and Principe',
 'Samoa',
 'Micronesia']

In [10]:
epi_new = epi_new[epi_new['country_name'].isin(high_data)]

In [11]:
epi_new

,date,country_name,Wastewater Treatment,Terrestrial biome protection (global weights),Fish Stock Status,Water Resources,Unsafe sanitation,Sanitation & Drinking Water,Unsafe drinking water,Fisheries,...,Household Air Quality,Health Impacts,Coastal Shelf Fishing Pressure,Pesticide Regulation,Agricultural Subsidies,Change in Forest Cover,Child Mortality,Change of Trend in Carbon Intensity,Climate,Critical Habitat Protection
0,2002,Nicaragua,8.4,91.91,44.44,8.4,11.49,19.93,28.37,39.73,...,38,63.53,35.02,16,100,0,63.53,37.24,46.82,NaN
1,2003,Nicaragua,8.4,91.91,38.36,8.4,11.7,20.4,29.1,36.89,...,39,65.61,35.43,16,100,0,65.61,37.24,46.82,NaN
2,2004,Nicaragua,8.4,91.91,25.93,8.4,11.91,20.88,29.85,31.1,...,40,67.41,36.28,16,100,0,67.41,37.24,46.82,NaN
3,2005,Nicaragua,8.4,91.91,31.25,8.4,12.12,21.37,30.62,32.25,...,41,68.84,33.25,24,100,0,68.84,37.24,46.82,NaN
4,2006,Nicaragua,8.4,91.91,23.08,8.4,12.33,21.87,31.41,28.87,...,42,69.92,34.66,24,100,0,69.92,37.24,46.82,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3461,2016,Latvia,96.44,100,42.11,96.44,81.75,91.11,97.1,42.11,...,95,93.11,None,None,None,None,None,None,None,NaN
3462,2017,Latvia,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
3463,2018,Latvia,96.3,100,40,96.3,59.27,60.62,61.96,50.65,...,None,None,None,None,None,None,None,None,None,NaN
3464,2019,Latvia,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,NaN
3465,2020,Latvia,90.7,100,3.5,90.7,61.1,59,57.5,7.3,...,None,None,None,None,None,None,None,None,None,NaN

In [12]:
epi_new['country_name'].value_counts()

Latvia                              19
Liberia                             19
Sudan                               19
Italy                               19
Czech Republic                      19
                                    ..
Sao Tome and Principe                9
Marshall Islands                     9
Saint Vincent and the Grenadines     9
Samoa                                9
Saint Lucia                          9
Name: country_name, Length: 185, dtype: int64

In [13]:
def impute_values(country_name):
    country = epi_new[epi_new['country_name'] == country_name].copy()
    for col in country.columns:
        country[col] = country[col].map(lambda x: np.nan if x == 'None' else x)
        country[col].interpolate(method='linear',order=1,inplace=True, axis=0)
    return country

In [14]:
epi_new_new = pd.DataFrame()

for country_name in  set(epi_new['country_name'].values):
    country_df = impute_values(country_name)
    epi_new_new = pd.concat([epi_new_new, country_df], ignore_index = True)

In [15]:
epi_new_new.head()

,date,country_name,Wastewater Treatment,Terrestrial biome protection (global weights),Fish Stock Status,Water Resources,Unsafe sanitation,Sanitation & Drinking Water,Unsafe drinking water,Fisheries,...,Household Air Quality,Health Impacts,Coastal Shelf Fishing Pressure,Pesticide Regulation,Agricultural Subsidies,Change in Forest Cover,Child Mortality,Change of Trend in Carbon Intensity,Climate,Critical Habitat Protection
0,2002,Nicaragua,8.4,91.91,44.44,8.4,11.49,19.93,28.37,39.73,...,38.0,63.53,35.02,16.0,100.0,0.0,63.53,37.24,46.82,NaN
1,2003,Nicaragua,8.4,91.91,38.36,8.4,11.70,20.40,29.10,36.89,...,39.0,65.61,35.43,16.0,100.0,0.0,65.61,37.24,46.82,NaN
2,2004,Nicaragua,8.4,91.91,25.93,8.4,11.91,20.88,29.85,31.10,...,40.0,67.41,36.28,16.0,100.0,0.0,67.41,37.24,46.82,NaN
3,2005,Nicaragua,8.4,91.91,31.25,8.4,12.12,21.37,30.62,32.25,...,41.0,68.84,33.25,24.0,100.0,0.0,68.84,37.24,46.82,NaN
4,2006,Nicaragua,8.4,91.91,23.08,8.4,12.33,21.87,31.41,28.87,...,42.0,69.92,34.66,24.0,100.0,0.0,69.92,37.24,46.82,NaN

In [16]:
epi_new_new.shape

(3425, 35)

In [17]:
nulls = epi_new_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Critical Habitat Protection                        1930
Change of Trend in Carbon Intensity                 959
Climate                                             959
Trend in CO2 Emissions per KWH                      957
Marine Protected Areas                              868
Trend in Carbon Intensity                           853
Coastal Shelf Fishing Pressure                      845
Fish Stock Status                                   842
Fisheries                                           842
Change in Forest Cover                              826
Climate & Energy                                    801
Forests                                             668
Agricultural Subsidies                              466
Environmental Performance Index                      38
Ecosystem Vitality                                   38
Water Resources                                      26
Wastewater Treatment                                 26
Environmental Health                                 12
Access to Electricity                                 9
Health Impacts                                        9
Child Mortality                                       9
Agriculture                                           8
Terrestrial biome protection (national weights)       8
Biodiversity & Habitat                                8
Terrestrial biome protection (global weights)         8
PM2.5 Exceedance                                      4
Air Quality                                           4
PM2.5 Exposure                                        4
dtype: int64

In [18]:
drop_list = ['Climate','Forests', 'Critical Habitat Protection', 'Change in Forest Cover','Change of Trend in Carbon Intensity', 'Coastal Shelf Fishing Pressure',
'Trend in CO2 Emissions per KWH','Trend in Carbon Intensity','Climate & Energy']

In [19]:
len(drop_list)

9

more to look at: marine, Fisheries, fish stock, agricultural subsidies.

In [20]:
epi_new_new.drop(columns=drop_list,inplace=True)

In [21]:
nulls = epi_new_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas                             868
Fish Stock Status                                  842
Fisheries                                          842
Agricultural Subsidies                             466
Environmental Performance Index                     38
Ecosystem Vitality                                  38
Wastewater Treatment                                26
Water Resources                                     26
Environmental Health                                12
Child Mortality                                      9
Health Impacts                                       9
Access to Electricity                                9
Terrestrial biome protection (global weights)        8
Biodiversity & Habitat                               8
Terrestrial biome protection (national weights)      8
Agriculture                                          8
PM2.5 Exposure                                       4
Air Quality                                          4
PM2.5 Exceedance                                     4
dtype: int64

In [22]:
epi = epi_new_new

In [23]:
nulls = epi.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas                             868
Fish Stock Status                                  842
Fisheries                                          842
Agricultural Subsidies                             466
Environmental Performance Index                     38
Ecosystem Vitality                                  38
Wastewater Treatment                                26
Water Resources                                     26
Environmental Health                                12
Child Mortality                                      9
Health Impacts                                       9
Access to Electricity                                9
Terrestrial biome protection (global weights)        8
Biodiversity & Habitat                               8
Terrestrial biome protection (national weights)      8
Agriculture                                          8
PM2.5 Exposure                                       4
Air Quality                                          4
PM2.5 Exceedance                                     4
dtype: int64

checking the nulls for high null count indicators: Marine Protected Areas, Fisheries, Fish Stock Status and Agricultural Subsidies

In [24]:
#make new DF with just marine nulls
marine_nulls = epi[epi['Marine Protected Areas'].isnull() == True]

In [25]:
marine_dic = marine_nulls['country_name'].value_counts().to_dict()

In [26]:
#get list of countries will nulls
marine_countries = list(marine_dic.keys())

In [27]:
#make new DF with just fishery Nulls
fish_nulls = epi[epi['Fisheries'].isnull() == True]

In [28]:
fish_dic = fish_nulls['country_name'].value_counts().to_dict()

In [29]:
#get list of countries with fisheries nulls
fish_countries = list(fish_dic.keys())

Compare list, decide what to do with non-landlocked countries.

In [30]:
[x for x in marine_countries if x not in fish_countries]

['Guinea-Bissau', 'Brunei Darussalam', 'Maldives']

In [31]:
[x for x in fish_countries if x not in marine_countries]

['Saint Vincent and the Grenadines']

drop: maldives, saint vincent and the grenadines, saint lucia, Marshall Islands,micronesia, Sao Tome and Principe, samoa

pad: guinea bissau, Brunei Darussalam

In [32]:
#update list
fish_countries.remove('Saint Vincent and the Grenadines')
marine_countries.remove('Maldives')
marine_countries.remove('Guinea-Bissau')
marine_countries.remove('Brunei Darussalam')

In [33]:
#new DF for fishing stock nulls
fish_stock_nulls = epi[epi['Fish Stock Status'].isnull() == True]

In [34]:
fish_stock_dic = fish_stock_nulls['country_name'].value_counts().to_dict()

In [35]:
#get list of fishing stock null countries 
fish_stock_countries = list(fish_stock_dic.keys())

In [36]:
#we are not using Saint Vincent and the Grenadines
fish_stock_countries.remove('Saint Vincent and the Grenadines')

In [37]:
#look for differences in the list
fish_stock_countries == fish_countries

True

In [38]:
#make sure not to leave out any countries from the list
sorted(marine_countries) == sorted(fish_countries)

True

In [39]:
land_locked = fish_countries

In [40]:
land_locked[:3] #fill in with zeros for "marine protected status, fisheries, and fish stock"

['Iraq', 'Malawi', 'Armenia']

not ocean related high nulls

In [41]:
ag_nulls = epi[epi['Agricultural Subsidies'].isnull() == True]

In [42]:
ag_dic = ag_nulls['country_name'].value_counts().to_dict()

In [43]:
ag_countries = list(ag_dic.keys())

In [44]:
ag_countries.remove('Marshall Islands')
ag_countries.remove('Saint Lucia')

In [45]:
nulls = epi.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas                             868
Fish Stock Status                                  842
Fisheries                                          842
Agricultural Subsidies                             466
Environmental Performance Index                     38
Ecosystem Vitality                                  38
Wastewater Treatment                                26
Water Resources                                     26
Environmental Health                                12
Child Mortality                                      9
Health Impacts                                       9
Access to Electricity                                9
Terrestrial biome protection (global weights)        8
Biodiversity & Habitat                               8
Terrestrial biome protection (national weights)      8
Agriculture                                          8
PM2.5 Exposure                                       4
Air Quality                                          4
PM2.5 Exceedance                                     4
dtype: int64

In [46]:
eco_vitality = epi[epi['Ecosystem Vitality'].isnull() == True]

In [47]:
eco_vitality = epi[epi['Ecosystem Vitality'].isnull() == True]
eco_vitality['country_name'].value_counts()

Marshall Islands                    8
Micronesia                          6
Saint Vincent and the Grenadines    6
Saint Lucia                         6
Samoa                               4
Sao Tome and Principe               4
Maldives                            4
Name: country_name, dtype: int64

* pad: 

* drop: micronesia, Sao Tome and Principe, samoa,

In [48]:
drop_countries = ['Maldives', 'Saint Vincent and the Grenadines','Saint Lucia', 'Marshall Islands','Micronesia', 'Sao Tome and Principe', 'Samoa']

In [49]:
epi_2 = epi[~epi['country_name'].isin(drop_countries)]

In [50]:
nulls = epi_2.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Marine Protected Areas    864
Fish Stock Status         836
Fisheries                 836
Agricultural Subsidies    448
dtype: int64

In [51]:
def error_country_list(indicator):
    df = epi[epi[indicator].isnull() == True]
    return df['country_name'].value_counts()

In [52]:
error_country_list('Environmental Performance Index')

Marshall Islands                    8
Micronesia                          6
Saint Vincent and the Grenadines    6
Saint Lucia                         6
Samoa                               4
Sao Tome and Principe               4
Maldives                            4
Name: country_name, dtype: int64

In [53]:
error_country_list('Water Resources')

Saint Vincent and the Grenadines    6
Micronesia                          6
Saint Lucia                         6
Samoa                               4
Sao Tome and Principe               4
Name: country_name, dtype: int64

In [54]:
error_country_list('Wastewater Treatment')

Saint Vincent and the Grenadines    6
Micronesia                          6
Saint Lucia                         6
Samoa                               4
Sao Tome and Principe               4
Name: country_name, dtype: int64

In [55]:
error_country_list('Environmental Health')

Marshall Islands    8
Maldives            4
Name: country_name, dtype: int64

In [56]:
error_country_list('Child Mortality')

Marshall Islands    9
Name: country_name, dtype: int64

In [57]:
error_country_list('Health Impacts')

Marshall Islands    9
Name: country_name, dtype: int64

In [58]:
error_country_list('Access to Electricity')

Micronesia    9
Name: country_name, dtype: int64

In [59]:
error_country_list('Terrestrial biome protection (global weights)')

Sao Tome and Principe    4
Maldives                 4
Name: country_name, dtype: int64

In [60]:
epi[epi['country_name'] == 'Micronesia'].head(50)

,date,country_name,Wastewater Treatment,Terrestrial biome protection (global weights),Fish Stock Status,Water Resources,Unsafe sanitation,Sanitation & Drinking Water,Unsafe drinking water,Fisheries,...,Agriculture,Ecosystem Vitality,Environmental Health,PM2.5 Exceedance,Access to Electricity,Household Air Quality,Health Impacts,Pesticide Regulation,Agricultural Subsidies,Child Mortality
995,2012,Micronesia,NaN,9.700000,15.84,NaN,14.340000,27.520,40.690000,57.92,...,56.000,NaN,57.940000,100.0,NaN,59.0,59.97,12.0,100.0,59.97
996,2013,Micronesia,NaN,10.913333,13.20,NaN,19.973333,30.665,41.346667,56.60,...,50.505,NaN,58.263333,100.0,NaN,59.0,59.97,12.0,100.0,59.97
997,2014,Micronesia,NaN,12.126667,10.56,NaN,25.606667,33.810,42.003333,55.28,...,45.010,NaN,58.586667,100.0,NaN,59.0,59.97,12.0,100.0,59.97
998,2015,Micronesia,NaN,13.340000,7.92,NaN,31.240000,36.955,42.660000,53.96,...,39.515,NaN,58.910000,100.0,NaN,59.0,59.97,12.0,100.0,59.97
999,2016,Micronesia,NaN,14.553333,5.28,NaN,36.873333,40.100,43.316667,52.64,...,34.020,NaN,59.233333,100.0,NaN,59.0,59.97,12.0,100.0,59.97
1000,2017,Micronesia,NaN,15.766667,2.64,NaN,42.506667,43.245,43.973333,51.32,...,28.525,NaN,59.556667,100.0,NaN,59.0,59.97,12.0,100.0,59.97
1001,2018,Micronesia,39.76,16.980000,0.00,39.76,48.140000,46.390,44.630000,50.00,...,23.030,43.070,59.880000,100.0,NaN,59.0,59.97,12.0,100.0,59.97
1002,2019,Micronesia,19.93,8.490000,0.00,19.93,43.770000,40.945,38.765000,41.35,...,21.215,38.785,45.340000,100.0,NaN,59.0,59.97,12.0,100.0,59.97
1003,2020,Micronesia,0.10,0.000000,0.00,0.10,39.400000,35.500,32.900000,32.70,...,19.400,34.500,30.800000,100.0,NaN,59.0,59.97,12.0,100.0,59.97

In [61]:
ag_countries

['Barbados',
 'Qatar',
 'Oman',
 'Saudi Arabia',
 'Bahrain',
 'Seychelles',
 'Bahamas',
 'Gabon',
 'United Arab Emirates',
 'Trinidad and Tobago',
 'Singapore',
 'Kuwait',
 'Jordan',
 'Brunei Darussalam',
 'Antigua and Barbuda',
 'Panama',
 'Equatorial Guinea',
 'Cuba',
 'Botswana',
 'Republic of Congo',
 'Djibouti',
 'Mauritius',
 'Libya',
 'Palau']

plau
lybia =

In [62]:
regional = pd.read_csv("../data/EPI_data/epi2020resultsregions20200604.csv")

In [74]:
regional['region'].value_counts()

Sub-Saharan Africa           46
Latin America & Caribbean    32
Asia-Pacific                 25
Global West                  22
Eastern Europe               19
Greater Middle East          16
Former Soviet States         12
Southern Asia                 8
Name: region, dtype: int64

In [80]:
regional[regional['country'] == 'Algeria']

,code,iso,country,region,EPI.new,HLT.new,AIR.new,PMD.new,HAD.new,OZD.new,...,NXA.rgn.mean,NXA.rgn.rank,AGR.rgn.mean,AGR.rgn.rank,SNM.rgn.mean,SNM.rgn.rank,WRS.rgn.mean,WRS.rgn.rank,WWT.rgn.mean,WWT.rgn.rank
48,12,DZA,Algeria,Greater Middle East,44.8,50.4,45.3,21.9,78.9,33.2,...,60.26875,14,36.5125,5,36.5125,5,36.7,9,36.7,9

In [63]:
regional_means = regional[[ 'country','AGR.rgn.mean']]

In [64]:
regional_means = regional_means[regional_means['country'].isin(ag_countries)]

In [65]:
regional_means

                  country  AGR.rgn.mean
3    United Arab Emirates     36.512500
6     Antigua and Barbuda     32.653125
16                Bahrain     36.512500
17                Bahamas     32.653125
23               Barbados     32.653125
24      Brunei Darussalam     35.940000
26               Botswana     32.882609
35      Republic of Congo     32.882609
40                   Cuba     32.653125
44               Djibouti     32.882609
59                  Gabon     32.882609
66      Equatorial Guinea     32.882609
84                 Jordan     36.512500
92                 Kuwait     36.512500
116             Mauritius     32.882609
127                  Oman     36.512500
129                Panama     32.653125
136                 Qatar     36.512500
140          Saudi Arabia     36.512500
143             Singapore     35.940000
154            Seychelles     32.882609
162   Trinidad and Tobago     32.653125

In [66]:
pd.DataFrame(regional.loc[regional['country'].isin(ag_countries), 'AGR.rgn.mean'])

     AGR.rgn.mean
3       36.512500
6       32.653125
16      36.512500
17      32.653125
23      32.653125
24      35.940000
26      32.882609
35      32.882609
40      32.653125
44      32.882609
59      32.882609
66      32.882609
84      36.512500
92      36.512500
116     32.882609
127     36.512500
129     32.653125
136     36.512500
140     36.512500
143     35.940000
154     32.882609
162     32.653125

In [67]:
regional.columns

Index(['code', 'iso', 'country', 'region', 'EPI.new', 'HLT.new', 'AIR.new',
       'PMD.new', 'HAD.new', 'OZD.new',
       ...
       'NXA.rgn.mean', 'NXA.rgn.rank', 'AGR.rgn.mean', 'AGR.rgn.rank',
       'SNM.rgn.mean', 'SNM.rgn.rank', 'WRS.rgn.mean', 'WRS.rgn.rank',
       'WWT.rgn.mean', 'WWT.rgn.rank'],
      dtype='object', length=142)

In [68]:
regional[regional['country'] == "Saudi Arabia"]

,code,iso,country,region,EPI.new,HLT.new,AIR.new,PMD.new,HAD.new,OZD.new,...,NXA.rgn.mean,NXA.rgn.rank,AGR.rgn.mean,AGR.rgn.rank,SNM.rgn.mean,SNM.rgn.rank,WRS.rgn.mean,WRS.rgn.rank,WWT.rgn.mean,WWT.rgn.rank
140,682,SAU,Saudi Arabia,Greater Middle East,44.0,47.2,37.4,10.0,76.2,29.0,...,60.26875,12,36.5125,1,36.5125,1,36.7,13,36.7,13

In [69]:
regional['region'].value_counts()

Sub-Saharan Africa           46
Latin America & Caribbean    32
Asia-Pacific                 25
Global West                  22
Eastern Europe               19
Greater Middle East          16
Former Soviet States         12
Southern Asia                 8
Name: region, dtype: int64

In [70]:
stop error

SyntaxError: invalid syntax (<ipython-input-70-b6379532b430>, line 1)

In [ ]:
attributes = pd.read_csv('../../project_5/epi2020variableattributes20200604.csv')

In [ ]:
nulls = epi_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

In [ ]:
s = pd.Series([1,2,3,np.nan,np.nan,np.nan])
s

In [ ]:
s.interpolate(method='spline', order=1)