In [1]:
import pandas as pd
import numpy as np

In [2]:
epi = pd.read_csv('../data/EPI_data/ObservationData_rqridaf.csv')

***Data Import***

In [3]:
def epi_to_country_data(country_name):
    country = epi[epi['location'] == country_name]

    indicators = list(country['indicator'].value_counts().to_dict().keys())

    min_date = country['Date'].min()
    max_date = country['Date'].max()

    dates = pd.Series(list(range(min_date, max_date + 1)))
    transpose_country = pd.DataFrame()
    transpose_country['date'] = dates
    transpose_country['country_name'] = country_name

    for indicator in indicators:
        indicator_df = country[country['indicator'] == indicator]

        date_values = {key: None for key in list(range(min_date, max_date + 1))}
        for row in indicator_df.iterrows():
            date_values[row[1]['Date']] = row[1]['Value']

        transpose_country[indicator] = date_values.values()
        
    return transpose_country

In [4]:
best_indicators = [key for key, value in epi['indicator'].value_counts().to_dict().items() if value > 500]

In [5]:
epi = epi[epi['indicator'].isin(best_indicators)]

In [6]:
epi_new = pd.DataFrame()

for country_name in  set(epi['location'].values):
    country_df = epi_to_country_data(country_name)
    epi_new = pd.concat([epi_new, country_df], ignore_index = True)

In [7]:
epi_new.head(50)

,date,country_name,PM2.5 Exposure,Ecosystem Vitality,Unsafe sanitation,Terrestrial biome protection (global weights),Water Resources,Wastewater Treatment,Fisheries,Terrestrial biome protection (national weights),...,Critical Habitat Protection,Agricultural Subsidies,Change in Forest Cover,Coastal Shelf Fishing Pressure,Pesticide Regulation,Trend in CO2 Emissions per KWH,Climate & Energy,Trend in Carbon Intensity,Change of Trend in Carbon Intensity,Climate
0,2002,Comoros,100,22.45,4.73,0,3.96,3.96,63.25,0,...,0,100,68.23,97.93,8,None,None,NaN,NaN,NaN
1,2003,Comoros,100,23.02,5.11,0,3.96,3.96,67.49,0,...,0,100,68.23,95.58,8,None,None,NaN,NaN,NaN
2,2004,Comoros,100,23.09,5.49,0,3.96,3.96,68.05,0,...,0,100,68.23,96.7,8,None,None,NaN,NaN,NaN
3,2005,Comoros,100,23.71,5.89,0,3.96,3.96,72.72,0,...,0,100,68.23,93.83,8,None,None,NaN,NaN,NaN
4,2006,Comoros,100,22.49,6.29,0,3.96,3.96,63.54,0,...,0,100,68.23,96.52,8,None,None,NaN,NaN,NaN
5,2007,Comoros,100,21.33,6.29,0,3.96,3.96,52.81,0,...,0,100,68.23,96.52,16,None,None,NaN,NaN,NaN
6,2008,Comoros,100,21.33,6.29,0,3.96,3.96,52.81,0,...,0,100,68.23,96.52,16,None,None,NaN,NaN,NaN
7,2009,Comoros,100,20.72,6.29,0,3.96,3.96,48.26,0,...,0,100,68.23,96.52,16,None,None,NaN,NaN,NaN
8,2010,Comoros,100,20.72,6.3,0,3.96,3.96,48.26,0,...,0,100,68.23,96.52,16,None,None,NaN,NaN,NaN
9,2011,Comoros,100,20.72,6.3,0,3.96,3.96,48.26,0,...,0,100,68.23,96.52,16,None,None,NaN,NaN,NaN
10,2012,Comoros,100,20.72,6.3,0,3.96,3.96,48.26,0,...,0,100,68.23,96.52,16,None,None,NaN,NaN,NaN
11,2013,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
12,2014,Comoros,100,20.72,6.3,0,3.96,3.96,48.26,0,...,0,100,68.23,96.52,16,None,None,NaN,NaN,NaN
13,2015,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
14,2016,Comoros,100,43.72,53.25,74.24,3.96,3.96,14.18,74.6,...,None,None,None,None,None,100,None,NaN,NaN,NaN
15,2017,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
16,2018,Comoros,100,42.37,9.37,55.8,26.32,26.32,57.81,55.8,...,None,None,None,None,None,None,49.44,NaN,NaN,NaN
17,2019,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
18,2020,Comoros,54.7,35.3,15,60,0.1,0.1,18.6,60,...,None,None,None,None,None,None,None,NaN,NaN,NaN
19,2002,Tunisia,100,44.69,35.92,18.81,27.77,27.77,21.82,7.4,...,NaN,100,100,21.76,68,66.57,54.38,66.86,47.71,54.38
20,2003,Tunisia,100,44.62,36.93,18.81,27.77,27.77,21.13,7.4,...,NaN,100,100,22.41,68,66.57,54.38,66.86,47.71,54.38
21,2004,Tunisia,100,45.14,37.96,18.81,27.77,27.77,24.32,7.4,...,NaN,100,100,22.5,76,66.57,54.38,66.86,47.71,54.38
22,2005,Tunisia,100,45.27,38.96,18.81,27.77,27.77,25.62,7.4,...,NaN,100,100,26.71,76,66.57,54.38,66.86,47.71,54.38
23,2006,Tunisia,100,45.04,39.99,18.81,27.77,27.77,23.28,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,54.38
24,2007,Tunisia,100,44.49,41.06,18.81,27.77,27.77,17.85,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,54.38
25,2008,Tunisia,100,44.24,42.18,18.81,27.77,27.77,15.33,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,54.38
26,2009,Tunisia,100,44.6,43.35,18.81,27.77,27.77,18.9,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,54.38
27,2010,Tunisia,100,44.28,44.57,18.81,27.77,27.77,15.73,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,54.38
28,2011,Tunisia,100,44.19,45.86,18.81,27.77,27.77,14.85,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,54.38
29,2012,Tunisia,100,44.19,45.86,18.81,27.77,27.77,14.85,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,54.38
30,2013,Tunisia,None,None,None,None,None,None,None,None,...,NaN,None,None,None,None,None,None,None,None,None
31,2014,Tunisia,100,44.19,45.86,18.81,27.77,27.77,14.85,7.4,...,NaN,100,100,26.76,76,66.57,54.38,66.86,47.71,None
32,2015,Tunisia,None,None,None,None,None,None,None,None,...,NaN,None,None,None,None,None,None,None,None,None
33,2016,Tunisia,100,73.46,85.49,61.81,82.06,82.06,61.8,51.36,...,NaN,None,None,None,None,64.3215,73.94,79.9776,None,None
34,2017,Tunisia,None,None,None,None,None,None,None,None,...,NaN,None,None,None,None,None,None,None,None,None
35,2018,Tunisia,100,49.83,59.72,36.82,88.17,88.17,58.12,32.01,...,NaN,None,None,None,None,None,51.3,None,None,None
36,2019,Tunisia,None,None,None,None,None,None,None,None,...,NaN,None,None,None,None,None,None,None,None,None
37,2020,Tunisia,26.2,45,58,37.1,43,43,18.3,32,...,NaN,None,None,None,None,None,None,None,None,None
38,2012,Sao Tome and Principe,100,None,5.92,None,None,None,47.88,None,...,0,100,NaN,63.18,12,None,None,NaN,NaN,NaN
39,2013,Sao Tome and Principe,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,NaN,NaN,NaN
40,2014,Sao Tome and Principe,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,NaN,NaN,NaN
41,2015,Sao Tome and Principe,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,NaN,NaN,NaN
42,2016,Sao Tome and Principe,100,29.64,52.62,0,17.99,17.99,67.13,0,...,None,None,NaN,None,None,100,None,NaN,NaN,NaN
43,2017,Sao Tome and Principe,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,NaN,NaN,NaN
44,2018,Sao Tome and Principe,100,54.87,30.4,100,26.32,26.32,65.57,100,...,None,None,NaN,None,None,None,55.13,NaN,NaN,NaN
45,2019,Sao Tome and Principe,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,NaN,NaN,NaN
46,2020,Sao Tome and Principe,30.8,43.6,37.1,100,0.3,0.3,17.2,100,...,None,None,NaN,None,None,None,None,NaN,NaN,NaN
47,2002,Antigua and Barbuda,100,26.35,40.14,59.48,11.37,11.37,0,35.01,...,100,NaN,NaN,0,76,None,8.41,13.11,0,8.41
48,2003,Antigua and Barbuda,100,26.8,41.71,59.48,11.37,11.37,0,35.01,...,100,NaN,NaN,0,84,None,8.41,13.11,0,8.41
49,2004,Antigua and Barbuda,100,27.08,43.4,60.64,11.37,11.37,0,38,...,100,NaN,NaN,0,84,None,8.41,13.11,0,8.41

In [8]:
high_data = [key for key, value in epi_new['country_name'].value_counts().to_dict().items() if value >5]

In [9]:
high_data

['Ethiopia',
 'Sri Lanka',
 'Eritrea',
 'Belize',
 'Gambia',
 'Uganda',
 'Uzbekistan',
 'Greece',
 'Myanmar',
 'Nigeria',
 'Republic of Congo',
 'Rwanda',
 'Belgium',
 'Burkina Faso',
 'Kuwait',
 'Switzerland',
 'Latvia',
 'Angola',
 'Brunei Darussalam',
 'Iran',
 'Russia',
 'Lebanon',
 'Ukraine',
 'Togo',
 'Australia',
 'Djibouti',
 'India',
 'Trinidad and Tobago',
 'Romania',
 'Poland',
 'Oman',
 'Iceland',
 'Norway',
 'Iraq',
 'Belarus',
 'Venezuela',
 'Czech Republic',
 'Cyprus',
 'Algeria',
 'Botswana',
 'Fiji',
 'Grenada',
 'Kazakhstan',
 'Cambodia',
 'Guinea',
 'Seychelles',
 'Finland',
 'Nicaragua',
 'Austria',
 'Guatemala',
 "Cote d'Ivoire",
 'Netherlands',
 'Eswatini',
 'Indonesia',
 'Gabon',
 'Portugal',
 'Bhutan',
 'Italy',
 'South Africa',
 'Mozambique',
 'Zambia',
 'Serbia',
 'Kenya',
 'Costa Rica',
 'Bolivia',
 'Egypt',
 'Denmark',
 'Mongolia',
 'Turkmenistan',
 'Cameroon',
 'Antigua and Barbuda',
 'Barbados',
 'Tunisia',
 'Lesotho',
 'Pakistan',
 'Kyrgyzstan',
 'China',
 'South Korea',
 'Sweden',
 'Paraguay',
 'Papua New Guinea',
 'Malaysia',
 'Germany',
 'Namibia',
 'Hungary',
 'Bosnia and Herzegovina',
 'Morocco',
 'Senegal',
 'Burundi',
 'Montenegro',
 'Zimbabwe',
 'Vanuatu',
 'Benin',
 'Dominica',
 'Mexico',
 'Luxembourg',
 'Kiribati',
 'Haiti',
 'Comoros',
 'Tonga',
 'Timor-Leste',
 'Chile',
 'Israel',
 'Sudan',
 'United Kingdom',
 'Armenia',
 'Ireland',
 'El Salvador',
 'Tajikistan',
 'Ghana',
 'Jamaica',
 'Argentina',
 'Guyana',
 'Dominican Republic',
 'Peru',
 'Panama',
 'Niger',
 'Guinea-Bissau',
 'Thailand',
 'Honduras',
 'France',
 'United States of America',
 'Solomon Islands',
 'Albania',
 'Mauritius',
 'Laos',
 'United Arab Emirates',
 'Bangladesh',
 'Equatorial Guinea',
 'Nepal',
 'Malawi',
 'Brazil',
 'Mauritania',
 'Suriname',
 'Malta',
 'Cabo Verde',
 'North Macedonia',
 'Tanzania',
 'Georgia',
 'Lithuania',
 'Japan',
 'Azerbaijan',
 'Singapore',
 'Mali',
 'Cuba',
 'Turkey',
 'Slovenia',
 'Viet Nam',
 'Bahrain',
 'Taiwan',
 'Moldova',
 'Sierra Leone',
 'Qatar',
 'Slovakia',
 'Canada',
 'Ecuador',
 'Chad',
 'Estonia',
 'Dem. Rep. Congo',
 'Madagascar',
 'Jordan',
 'Bahamas',
 'Liberia',
 'Colombia',
 'Philippines',
 'New Zealand',
 'Saudi Arabia',
 'Bulgaria',
 'Spain',
 'Afghanistan',
 'Central African Republic',
 'Uruguay',
 'Croatia',
 'Libya',
 'Syria',
 'Yemen',
 'Somalia',
 'Palau',
 'Maldives',
 'Saint Lucia',
 'Sao Tome and Principe',
 'Micronesia',
 'Samoa',
 'Marshall Islands',
 'Saint Vincent and the Grenadines']

In [10]:
epi_new = epi_new[epi_new['country_name'].isin(high_data)]

In [11]:
epi_new

,date,country_name,PM2.5 Exposure,Ecosystem Vitality,Unsafe sanitation,Terrestrial biome protection (global weights),Water Resources,Wastewater Treatment,Fisheries,Terrestrial biome protection (national weights),...,Critical Habitat Protection,Agricultural Subsidies,Change in Forest Cover,Coastal Shelf Fishing Pressure,Pesticide Regulation,Trend in CO2 Emissions per KWH,Climate & Energy,Trend in Carbon Intensity,Change of Trend in Carbon Intensity,Climate
0,2002,Comoros,100,22.45,4.73,0,3.96,3.96,63.25,0,...,0,100,68.23,97.93,8,None,None,NaN,NaN,NaN
1,2003,Comoros,100,23.02,5.11,0,3.96,3.96,67.49,0,...,0,100,68.23,95.58,8,None,None,NaN,NaN,NaN
2,2004,Comoros,100,23.09,5.49,0,3.96,3.96,68.05,0,...,0,100,68.23,96.7,8,None,None,NaN,NaN,NaN
3,2005,Comoros,100,23.71,5.89,0,3.96,3.96,72.72,0,...,0,100,68.23,93.83,8,None,None,NaN,NaN,NaN
4,2006,Comoros,100,22.49,6.29,0,3.96,3.96,63.54,0,...,0,100,68.23,96.52,8,None,None,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3460,2016,Venezuela,100,71.24,88.79,99.39,70.23,70.23,14.09,99.39,...,None,None,None,None,None,76.6719,70.24,72.0458,None,None
3461,2017,Venezuela,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3462,2018,Venezuela,100,55.99,52.4,99.99,80.74,80.74,56.16,99.95,...,None,None,None,None,None,None,37.8,None,None,None
3463,2019,Venezuela,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3464,2020,Venezuela,33.7,52.9,51.7,100,6.4,6.4,12.3,100,...,None,None,None,None,None,None,None,None,None,None

In [12]:
epi_new['country_name'].value_counts()

Venezuela                19
Papua New Guinea         19
Republic of Congo        19
Rwanda                   19
Belgium                  19
                         ..
Saint Lucia               9
Micronesia                9
Samoa                     9
Sao Tome and Principe     9
Maldives                  9
Name: country_name, Length: 185, dtype: int64

In [13]:
def impute_values(country_name):
    country = epi_new[epi_new['country_name'] == country_name].copy()
    for col in country.columns:
        country[col] = country[col].map(lambda x: np.nan if x == 'None' else x)
        country[col].interpolate(method='linear',order=1,inplace=True, axis=0)
    return country

In [14]:
epi_new_new = pd.DataFrame()

for country_name in  set(epi_new['country_name'].values):
    country_df = impute_values(country_name)
    epi_new_new = pd.concat([epi_new_new, country_df], ignore_index = True)

In [15]:
epi_new_new.head()

,date,country_name,PM2.5 Exposure,Ecosystem Vitality,Unsafe sanitation,Terrestrial biome protection (global weights),Water Resources,Wastewater Treatment,Fisheries,Terrestrial biome protection (national weights),...,Critical Habitat Protection,Agricultural Subsidies,Change in Forest Cover,Coastal Shelf Fishing Pressure,Pesticide Regulation,Trend in CO2 Emissions per KWH,Climate & Energy,Trend in Carbon Intensity,Change of Trend in Carbon Intensity,Climate
0,2002,Comoros,100.0,22.45,4.73,0.0,3.96,3.96,63.25,0.0,...,0.0,100.0,68.23,97.93,8.0,NaN,NaN,NaN,NaN,NaN
1,2003,Comoros,100.0,23.02,5.11,0.0,3.96,3.96,67.49,0.0,...,0.0,100.0,68.23,95.58,8.0,NaN,NaN,NaN,NaN,NaN
2,2004,Comoros,100.0,23.09,5.49,0.0,3.96,3.96,68.05,0.0,...,0.0,100.0,68.23,96.70,8.0,NaN,NaN,NaN,NaN,NaN
3,2005,Comoros,100.0,23.71,5.89,0.0,3.96,3.96,72.72,0.0,...,0.0,100.0,68.23,93.83,8.0,NaN,NaN,NaN,NaN,NaN
4,2006,Comoros,100.0,22.49,6.29,0.0,3.96,3.96,63.54,0.0,...,0.0,100.0,68.23,96.52,8.0,NaN,NaN,NaN,NaN,NaN

In [16]:
epi_new_new.shape

(3425, 35)

In [24]:
nulls = epi_new_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Climate                                            959
Change of Trend in Carbon Intensity                959
Trend in CO2 Emissions per KWH                     957
Marine Protected Areas                             868
Trend in Carbon Intensity                          853
Coastal Shelf Fishing Pressure                     845
Fisheries                                          842
Fish Stock Status                                  842
Change in Forest Cover                             826
Climate & Energy                                   801
Forests                                            668
Agricultural Subsidies                             466
Ecosystem Vitality                                  38
Environmental Performance Index                     38
Water Resources                                     26
Wastewater Treatment                                26
Environmental Health                                12
Health Impacts                                       9
Access to Electricity                                9
Child Mortality                                      9
Agriculture                                          8
Biodiversity & Habitat                               8
Terrestrial biome protection (global weights)        8
Terrestrial biome protection (national weights)      8
PM2.5 Exposure                                       4
Air Quality                                          4
PM2.5 Exceedance                                     4
dtype: int64

In [40]:
drop_list = ['Climate','Forests', 'Critical Habitat Protection', 'Change in Forest Cover','Change of Trend in Carbon Intensity', 'Coastal Shelf Fishing Pressure',
'Trend in CO2 Emissions per KWH','Trend in Carbon Intensity','Climate & Energy']

In [42]:
len(drop_list)

9

In [ ]:
more to look at: marine, Fisheries, fish stock, agricultural subsidies.

In [39]:
epi_new_new['Trend in Carbon Intensity'][1000:1050].head(50)

1000    57.190000
1001    60.000000
1002    60.000000
1003    60.000000
1004    60.000000
1005    60.000000
1006    60.000000
1007    60.000000
1008    60.000000
1009    60.000000
1010    60.000000
1011    60.000000
1012    60.000000
1013    60.000000
1014    73.511300
1015    87.022599
1016    87.022599
1017    87.022599
1018    87.022599
1019    87.022599
1020    54.700000
1021    54.700000
1022    54.700000
1023    54.700000
1024    54.700000
1025    54.700000
1026    54.700000
1027    54.700000
1028    54.700000
1029    54.700000
1030    54.700000
1031    54.700000
1032    54.700000
1033    68.152785
1034    81.605571
1035    81.605571
1036    81.605571
1037    81.605571
1038    81.605571
1039    90.000000
1040    90.000000
1041    90.000000
1042    90.000000
1043    90.000000
1044    90.000000
1045    90.000000
1046    90.000000
1047    90.000000
1048    90.000000
1049    90.000000
Name: Trend in Carbon Intensity, dtype: float64

In [30]:
epi_new['Coastal Shelf Fishing Pressure'].head(50)

0     97.93
1     95.58
2      96.7
3     93.83
4     96.52
5     96.52
6     96.52
7     96.52
8     96.52
9     96.52
10    96.52
11     None
12    96.52
13     None
14     None
15     None
16     None
17     None
18     None
19    21.76
20    22.41
21     22.5
22    26.71
23    26.76
24    26.76
25    26.76
26    26.76
27    26.76
28    26.76
29    26.76
30     None
31    26.76
32     None
33     None
34     None
35     None
36     None
37     None
38    63.18
39     None
40     None
41     None
42     None
43     None
44     None
45     None
46     None
47        0
48        0
49        0
Name: Coastal Shelf Fishing Pressure, dtype: object

In [26]:
epi_new_new['Climate'].value_counts()

43.49    38
51.02    19
56.45    19
44.06    19
48.29    19
         ..
59.10    15
1.02     13
14.45     9
16.38     9
11.15     9
Name: Climate, Length: 131, dtype: int64

In [18]:
epi_new.shape

(3425, 35)

In [19]:
epi_new.columns

Index(['date', 'country_name', 'PM2.5 Exposure', 'Ecosystem Vitality',
       'Unsafe sanitation', 'Terrestrial biome protection (global weights)',
       'Water Resources', 'Wastewater Treatment', 'Fisheries',
       'Terrestrial biome protection (national weights)',
       'Sanitation & Drinking Water', 'Unsafe drinking water',
       'Environmental Performance Index', 'Fish Stock Status', 'Air Quality',
       'Biodiversity & Habitat', 'Marine Protected Areas', 'Agriculture',
       'Environmental Health', 'Forests', 'PM2.5 Exceedance',
       'Household Air Quality', 'Health Impacts', 'Access to Electricity',
       'Child Mortality', 'Critical Habitat Protection',
       'Agricultural Subsidies', 'Change in Forest Cover',
       'Coastal Shelf Fishing Pressure', 'Pesticide Regulation',
       'Trend in CO2 Emissions per KWH', 'Climate & Energy',
       'Trend in Carbon Intensity', 'Change of Trend in Carbon Intensity',
       'Climate'],
      dtype='object')

In [20]:
nulls = epi_new.isnull().sum().sort_values(ascending =False)
nulls[nulls > 0]

Critical Habitat Protection                        2497
Climate                                            2003
Trend in CO2 Emissions per KWH                     1890
Change of Trend in Carbon Intensity                1874
Coastal Shelf Fishing Pressure                     1811
Change in Forest Cover                             1781
Trend in Carbon Intensity                          1737
Climate & Energy                                   1581
Agricultural Subsidies                             1572
Forests                                            1494
Fish Stock Status                                  1428
Marine Protected Areas                             1427
Fisheries                                          1403
Child Mortality                                    1283
Pesticide Regulation                               1282
Health Impacts                                     1103
Access to Electricity                              1103
Household Air Quality                              1102
PM2.5 Exceedance                                    923
Agriculture                                         757
Environmental Performance Index                     749
Ecosystem Vitality                                  749
Wastewater Treatment                                747
Water Resources                                     747
Biodiversity & Habitat                              744
Terrestrial biome protection (national weights)     744
Environmental Health                                744
Terrestrial biome protection (global weights)       744
Air Quality                                         743
PM2.5 Exposure                                      743
Unsafe drinking water                               742
Sanitation & Drinking Water                         742
Unsafe sanitation                                   742
dtype: int64

In [21]:
s = pd.Series([1,2,3,np.nan,np.nan,np.nan])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [22]:
s.interpolate(method='spline', order=1)

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
dtype: float64