In [1]:
import pandas as pd
import numpy as np

In [2]:
epi = pd.read_csv('data/EPI_data/ObservationData_rqridaf.csv')

In [3]:
demo = pd.read_csv('data/Demographic_data/demograpic_data.csv')

***Data Import***

In [4]:
def epi_to_country_data(country_name):
    country = epi[epi['location'] == country_name]

    indicators = list(country['indicator'].value_counts().to_dict().keys())

    min_date = country['Date'].min()
    max_date = country['Date'].max()

    dates = pd.Series(list(range(min_date, max_date + 1)))
    transpose_country = pd.DataFrame()
    transpose_country['date'] = dates
    transpose_country['country_name'] = country_name

    for indicator in indicators:
        indicator_df = country[country['indicator'] == indicator]

        date_values = {key: None for key in list(range(min_date, max_date + 1))}
        for row in indicator_df.iterrows():
            date_values[row[1]['Date']] = row[1]['Value']

        transpose_country[indicator] = date_values.values()
        
    return transpose_country

In [5]:
best_indicators = [key for key, value in epi['indicator'].value_counts().to_dict().items() if value > 500]

In [6]:
epi = epi[epi['indicator'].isin(best_indicators)]

In [7]:
epi_new = pd.DataFrame()

for country_name in  set(epi['location'].values):
    country_df = epi_to_country_data(country_name)
    epi_new = pd.concat([epi_new, country_df], ignore_index = True)

In [18]:
epi_new.head(50)

,date,country_name,Unsafe drinking water,Ecosystem Vitality,Biodiversity & Habitat,Agriculture,Unsafe sanitation,Fish Stock Status,Environmental Health,PM2.5 Exposure,...,Child Mortality,Pesticide Regulation,Change in Forest Cover,Coastal Shelf Fishing Pressure,Agricultural Subsidies,Trend in CO2 Emissions per KWH,Climate & Energy,Trend in Carbon Intensity,Change of Trend in Carbon Intensity,Climate
0,2002,Comoros,50.26,22.45,0,54,4.73,28.57,43.69,100,...,29.36,8,68.23,97.93,100,None,None,NaN,NaN,NaN
1,2003,Comoros,51.83,23.02,0,54,5.11,39.39,44.25,100,...,29.82,8,68.23,95.58,100,None,None,NaN,NaN,NaN
2,2004,Comoros,53.51,23.09,0,54,5.49,39.39,44.84,100,...,30.28,8,68.23,96.7,100,None,None,NaN,NaN,NaN
3,2005,Comoros,55.32,23.71,0,54,5.89,51.61,45.45,100,...,30.75,8,68.23,93.83,100,None,None,NaN,NaN,NaN
4,2006,Comoros,57.27,22.49,0,54,6.29,30.56,46.09,100,...,31.23,8,68.23,96.52,100,None,None,NaN,NaN,NaN
5,2007,Comoros,57.27,21.33,0,58,6.29,9.09,46.34,100,...,31.7,16,68.23,96.52,100,None,None,NaN,NaN,NaN
6,2008,Comoros,57.27,21.33,0,58,6.29,9.09,46.59,100,...,32.18,16,68.23,96.52,100,None,None,NaN,NaN,NaN
7,2009,Comoros,57.26,20.72,0,58,6.29,0,46.84,100,...,32.66,16,68.23,96.52,100,None,None,NaN,NaN,NaN
8,2010,Comoros,57.25,20.72,0,58,6.3,0,47.08,100,...,33.14,16,68.23,96.52,100,None,None,NaN,NaN,NaN
9,2011,Comoros,57.25,20.72,0,58,6.3,0,47.24,100,...,33.62,16,68.23,96.52,100,None,None,NaN,NaN,NaN
10,2012,Comoros,57.25,20.72,0,58,6.3,0,47.4,100,...,34.1,16,68.23,96.52,100,None,None,NaN,NaN,NaN
11,2013,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
12,2014,Comoros,57.25,20.72,0,58,6.3,0,47.4,100,...,34.1,16,68.23,96.52,100,None,None,NaN,NaN,NaN
13,2015,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
14,2016,Comoros,72,43.72,68.38,100,53.25,14.18,54.68,100,...,None,None,None,None,None,100,None,NaN,NaN,NaN
15,2017,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
16,2018,Comoros,10.63,42.37,55.8,18.05,9.37,73.57,47.06,100,...,None,None,None,None,None,None,49.44,NaN,NaN,NaN
17,2019,Comoros,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,NaN,NaN,NaN
18,2020,Comoros,15.3,35.3,36.3,37.3,15,23.8,27.3,54.7,...,None,None,None,None,None,None,None,NaN,NaN,NaN
19,2002,Haiti,12.41,6.98,1.09,52,2.57,0,34.32,100,...,26.61,4,23.64,0,100,None,None,None,NaN,NaN
20,2003,Haiti,12.58,6.98,1.09,52,2.67,0,34.5,100,...,26.9,4,23.64,0,100,None,None,None,NaN,NaN
21,2004,Haiti,12.74,6.98,1.09,52,2.77,0,34.71,100,...,27.3,4,23.64,0,100,None,None,None,NaN,NaN
22,2005,Haiti,12.88,6.98,1.09,52,2.87,0,34.95,100,...,27.82,4,23.64,0,100,None,None,None,NaN,NaN
23,2006,Haiti,13.01,6.98,1.09,52,2.96,0,35.19,100,...,28.45,4,23.64,0,100,None,None,None,NaN,NaN
24,2007,Haiti,13.13,6.98,1.09,52,3.04,0,35.54,100,...,29.17,4,23.64,0,100,None,None,None,NaN,NaN
25,2008,Haiti,13.23,6.98,1.09,52,3.12,0,35.86,100,...,29.95,4,23.64,0,100,None,None,None,NaN,NaN
26,2009,Haiti,13.3,6.98,1.09,52,3.2,0,36.19,100,...,30.76,4,23.64,0,100,None,None,None,NaN,NaN
27,2010,Haiti,13.37,6.98,1.09,52,3.27,0,36.52,100,...,31.58,4,23.64,0,100,None,None,None,NaN,NaN
28,2011,Haiti,13.41,6.98,1.09,52,3.33,0,36.8,100,...,32.37,4,23.64,0,100,None,None,None,NaN,NaN
29,2012,Haiti,13.41,6.98,1.09,52,3.33,0,37.06,100,...,33.13,4,23.64,0,100,None,None,None,NaN,NaN
30,2013,Haiti,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
31,2014,Haiti,13.41,6.98,1.09,52,3.33,0,37.06,100,...,33.13,4,23.64,0,100,None,None,None,NaN,NaN
32,2015,Haiti,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
33,2016,Haiti,25.04,36.55,24.41,97.25,46.21,49.82,50.01,100,...,None,None,None,None,None,100,None,47.8273,NaN,NaN
34,2017,Haiti,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
35,2018,Haiti,15.87,26.08,14.39,10.83,15.04,86.81,45.24,100,...,None,None,None,None,None,None,42.53,None,NaN,NaN
36,2019,Haiti,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,NaN,NaN
37,2020,Haiti,13.8,30.5,34.5,31.4,14.4,18.9,21.8,47.5,...,None,None,None,None,None,None,None,None,NaN,NaN
38,2002,Malta,99.98,47,74.37,12.37,100,0,93.63,100,...,83.54,4,NaN,0,20.75,59.41,55.32,52.53,60.01,55.32
39,2003,Malta,100,48.82,80.96,12.37,100,0,93.71,100,...,83.75,4,NaN,0,20.75,59.41,55.32,52.53,60.01,55.32
40,2004,Malta,100,48.82,80.96,12.37,100,0,93.78,100,...,83.97,4,NaN,0,20.75,59.41,55.32,52.53,60.01,55.32
41,2005,Malta,100,48.82,80.96,12.37,100,0,93.85,100,...,84.18,4,NaN,0,20.75,59.41,55.32,52.53,60.01,55.32
42,2006,Malta,100,48.91,80.96,13.89,100,0,94.24,100,...,84.4,4,NaN,0,23.78,59.41,55.32,52.53,60.01,55.32
43,2007,Malta,100,49,80.96,15.45,100,0,94.31,100,...,84.61,4,NaN,0,26.89,59.41,55.32,52.53,60.01,55.32
44,2008,Malta,100,48.99,80.96,15.37,100,0,94.39,100,...,84.83,4,NaN,0,26.73,59.41,55.32,52.53,60.01,55.32
45,2009,Malta,100,49.03,80.96,16.01,100,0,94.42,100,...,85.05,4,NaN,0,28.02,59.41,55.32,52.53,60.01,55.32
46,2010,Malta,100,49.11,80.96,17.45,100,0,94.54,100,...,85.29,4,NaN,0,30.91,59.41,55.32,52.53,60.01,55.32
47,2011,Malta,100,49.23,80.96,19.66,100,0,94.62,100,...,85.52,4,NaN,0,35.31,59.41,55.32,52.53,60.01,55.32
48,2012,Malta,100,49.23,80.96,19.66,100,0,94.7,100,...,85.76,4,NaN,0,35.31,59.41,55.32,52.53,60.01,55.32
49,2013,Malta,None,None,None,None,None,None,None,None,...,None,None,NaN,None,None,None,None,None,None,None

In [27]:
epi_new['Environmental Performance Index'].sort_values(ascending=False)

761     90.68
1252    90.51
665     90.43
1098    89.21
73      88.98
        ...
3445     None
3458     None
3460     None
3462     None
3464     None
Name: Environmental Performance Index, Length: 3466, dtype: object

In [15]:
epi_new.shape

(3466, 35)

In [10]:
epi_new['country_name'].sort_values()

2836    Afghanistan
2840    Afghanistan
2839    Afghanistan
2838    Afghanistan
2837    Afghanistan
           ...
2040       Zimbabwe
2039       Zimbabwe
2038       Zimbabwe
2055       Zimbabwe
2048       Zimbabwe
Name: country_name, Length: 3466, dtype: object

In [23]:
epi_new['country_name'].value_counts()

Solomon Islands              19
Nepal                        19
Seychelles                   19
Norway                       19
Albania                      19
                             ..
Norfolk Island                1
Aruba                         1
Cayman Islands                1
Saint Pierre and Miquelon     1
Guadeloupe                    1
Name: country_name, Length: 226, dtype: int64

In [22]:
len([key for key, value in epi_new['country_name'].value_counts().to_dict().items() if value ==19])

173

In [24]:
def check_correlation(df, percent, target, dummied = False):
    if dummied:
        df = pd.get_dummies(df, drop_first=True)
    corr = df.corr()
    highcorr = corr[(corr[target] > percent) | (corr[target] < (-1*percent))]
    output = list(highcorr.index)
    output.remove(target)
    return output

In [25]:
check_correlation(epi_new,.6,'Environmental Performance Index')

KeyError: 'Environmental Performance Index'