In [1]:
import pandas as pd
import numpy as np

In [2]:
epi = pd.read_csv('data/EPI_data/ObservationData_rqridaf.csv')

In [3]:
demo = pd.read_csv('data/Demographic_data/demograpic_data.csv')

In [90]:
def epi_to_country_data(country_name):
    country = epi[epi['location'] == country_name]

    indicators = list(country['indicator'].value_counts().to_dict().keys())

    min_date = country['Date'].min()
    max_date = country['Date'].max()

    dates = pd.Series(list(range(min_date, max_date + 1)))
    transpose_country = pd.DataFrame()
    transpose_country['date'] = dates
    transpose_country['country_name'] = country_name

    for indicator in indicators:
        indicator_df = country[country['indicator'] == indicator]

        date_values = {key: None for key in list(range(min_date, max_date + 1))}
        for row in indicator_df.iterrows():
            date_values[row[1]['Date']] = row[1]['Value']

        transpose_country[indicator] = date_values.values()
        
    return transpose_country

In [91]:
for country_name in epi['']
epi_to_country_data('Argentina')

,date,country_name,Fish Stock Status,Environmental Performance Index,Fisheries,Unsafe drinking water,Air Quality,Terrestrial biome protection (global weights),Agriculture,Ecosystem Vitality,...,Adjusted emissions growth rate for black carbon,Household Air Quality - Risk Exposure,Adjusted emissions growth rate for nitrous oxide,Fish caught by trawling,Ecosystem Services,SO2 Emissions,Controlled solid waste,Marine Trophic Index,Growth rate in carbon dioxide emissions from land cover,Nitrogen Balance
0,2002,Argentina,12.37,46.56,14.02,67.68,98.4,35.9,92.0,24.36,...,None,None,None,None,None,None,None,None,None,None
1,2003,Argentina,21.15,47.07,18.65,69.33,98.6,35.9,92.0,24.82,...,None,None,None,None,None,None,None,None,None,None
2,2004,Argentina,16.67,47.21,16.81,71.04,98.8,35.9,92.0,24.64,...,None,None,None,None,None,None,None,None,None,None
3,2005,Argentina,15.81,47.56,16.19,72.82,99.0,35.9,96.0,24.77,...,None,None,None,None,None,None,None,None,None,None
4,2006,Argentina,23.88,48.01,18.74,74.7,99.2,35.9,96.0,25.03,...,None,None,None,None,None,None,None,None,None,None
5,2007,Argentina,20.42,48.18,17.01,76.68,99.16,35.9,96.0,24.86,...,None,None,None,None,None,None,None,None,None,None
6,2008,Argentina,24.4,48.61,19.0,78.79,99.24,35.9,96.0,25.06,...,None,None,None,None,None,None,None,None,None,None
7,2009,Argentina,19.93,48.82,16.77,81.04,99.44,35.9,96.0,24.83,...,None,None,None,None,None,None,None,None,None,None
8,2010,Argentina,20.27,49.2,16.94,83.47,99.64,35.9,96.0,24.85,...,None,None,None,None,None,None,None,None,None,None
9,2011,Argentina,17.74,49.49,15.68,86.12,99.64,35.9,96.0,24.72,...,None,None,None,None,None,None,None,None,None,None
10,2012,Argentina,17.74,49.55,15.68,86.12,99.64,35.9,96.0,24.72,...,None,None,None,None,None,None,None,None,None,None
11,2013,Argentina,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
12,2014,Argentina,17.74,49.55,15.68,86.12,99.64,35.9,96.0,24.72,...,None,None,None,None,None,None,None,None,None,None
13,2015,Argentina,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
14,2016,Argentina,26.39,79.84,26.39,96.27,92.37,72.06,97.87,65.18,...,None,90.44,None,None,None,None,None,None,None,100.0
15,2017,Argentina,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
16,2018,Argentina,18.56,59.3,42.26,69.9,84.57,55.09,70.69,45.58,...,None,None,None,None,None,0.07,None,None,None,None
17,2019,Argentina,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
18,2020,Argentina,0.7,52.2,3.2,59.3,56.9,56.7,78.4,46.8,...,90.3,None,58.0,2.6,29.4,None,44.6,6.2,57.8,None

In [85]:
best_indicators = [key for key, value in epi['indicator'].value_counts().to_dict().items() if value > 500]